[2018-11-28 18:18] jesuslinares opened #1 "Only one StatefulSet for worker managers"
There are 2 StatefulSets for worker managers. It should be only one and use replicas.

Probably, we need to add this PR https://github.com/wazuh/wazuh/pull/1611 to use the hostname as node name for Wazuh cluster.

[2018-11-28 18:26] jesuslinares opened #2 "Create a cluster of Elasticsearch"
Deploy 3 master and 3 data Elasticsearch nodes instead of a single node.

[2018-11-28 18:34] jesuslinares opened #3 "Document how to upgrade Wazuh"

[2018-11-30 10:14] SitoRBJ opened #4 "Increase the default vm.max_map_count for Elasticsearch"
Hello team,

We should add the option to increase the value of `vm.max_map_count` because we would have to do it manually in the Kubernetes node where the pod falls if we want the Elasticsearch container to work.

Regards,

Alfonso Ruiz-Bravo

[2018-12-04 10:08] SitoRBJ commented on #2
Hello team,

We have managed to create the Elasticsearch cluster in Kubernetes. At the moment we have only created the cluster. The next steps will be to add and adapt the other components of Elastic Stack and the Wazuh cluster.

[code]

We have created a branch to continue working on the Elasticsearch cluster:

https://github.com/wazuh/wazuh-kubernetes/tree/dev-elasticsearch-cluster

Best regards

[2018-12-04 15:54] SitoRBJ commented on #3
Hello team,

We have tried to perform an update on Kubernetes of the Wazuh cluster.

We have made a first basic installation, as it comes in our guide, using for the Wazuh containers the image:

- wazuh/wazuh:3.6.1_6.4.0

Later, we have added for testing a set of rules in our `local_rules.xml` file located in `/var/ossec/etc/rules` path from inside the pod.  This action has modified the `local_rul

[2018-12-04 15:54] #3 closed

[2018-12-05 10:56] SitoRBJ commented on #3
Hello team

This issue is solved in PR #6

Regards,

Alfonso Ruiz-Bravo

[2018-12-10 09:21] jesuslinares opened #7 "Test: Multiple replicas for Logstash"
Increase the number of replicas for Logstash and test if everything works as expected.

Document how to increase the number of replicas manually.

[2018-12-10 09:23] jesuslinares opened #8 "Test: Multiple replicas for Kibana"
Increase the number of replicas for Kibana and test if everything works as expected.

Document how to increase the number of replicas manually.

Pay attention to the wazuh-monitoring index: https://github.com/wazuh/wazuh-kibana-app/blob/master/config.yml#L81

[2018-12-10 09:32] jesuslinares opened #9 "Test: Shutdown Kubernetes worker node"
Test if everything works as expected when a Kubernetes worker node is down.

[2018-12-10 09:34] jesuslinares opened #10 "Document how to clean up the environment"
Document how to clean up the environment:
- [x] Wazuh managers
- [x] Elasticsearch
- [x] Logstash
- [x] Kibana

[2018-12-10 09:35] jesuslinares opened #11 "Adapt to x-pack"
Adapt Elasticsearch, Logstash and Kibana to use x-pack.

[2018-12-10 09:38] jesuslinares opened #12 "Research how to autoscale Wazuh managers"
Research how to autoscale Wazuh managers based on Wazuh stats.

[2018-12-11 11:57] SitoRBJ commented on #2
Hello team,

The PR #14 solves this issue.

Regards,

Alfonso Ruiz-Bravo

[2018-12-11 12:04] SitoRBJ commented on #10
Hello team,

The PR #13 solves this issue.

Regards,

Alfonso Ruiz-Bravo

[2018-12-11 12:34] SitoRBJ commented on #9
Hello team,

Our first test is to remove a pod where we have changed Wazuh settings.

[code]

[code]

[code]

[code]

In this case, Kubernetes detects that the StatefulSet that deploys the Wazuh worker node has one less replica than it should, so Kubernetes is in charge of creating the pod again.

Two changes were made to test what happens when you re-create the destroyed pod.

- Change in file `/

[2018-12-11 15:40] SitoRBJ commented on #9
Hello team,

We are going to proceed to shut down a Kubernetes worker node.

[code]

[code]
In this node we have the pod that contains the worker 0 of the Wazuh cluster.

[code]
This is its persistent volume claim:

[code]

And this is its volume:

[code]

We stopped the node.

[code]
Kubernetes creates a new node, (in AWS has created a new instance, ending the instance with the fallen node) and i

[2018-12-12 11:20] SitoRBJ commented on #9
Hello team,

Let's proceed to remove a volume. Specifically, we are going to eliminate the volume associated with Wazuh worker 0.

[code]

[code]

We will remove the volume:  **pvc-ffe7bf66-f7c4-11e8-b9b8-022ada63b4ac**

And this is the information that Kubernetes shows:

[code]

If we remove the pod that linked to that volume, it won't be created again.

[code]

[code]

An option would be to remo

[2018-12-12 11:50] SitoRBJ commented on #9
Hello team,

As far as the master node of the Kubernetes cluster is concerned.

_Amazon Elastic Container Service for Kubernetes (Amazon EKS) is a managed service that removes the need to manage the installation, scaling, or administration of master nodes and the etcd distributed key-value store. It provides a highly available and secure K8s control plane._

_With this new service developers need

[2018-12-12 13:39] JPLachance commented on #9
Greetings,

I just want to point out that EKS doesn't provide Kubernetes audit logs yet. See the [Kubernetes auditing documentation](https://kubernetes.io/docs/tasks/debug-application-cluster/audit/#audit-policy) for more details. That means you cannot know who did what when in the cluster. :) It might be required for compliance. The AWS team is working on sending Kubernetes audit logs in Cloudwat

[2018-12-12 13:55] SitoRBJ commented on #9
Hello @JPLachance,

Thank you very much for your contribution, all this information is well received.

In our tests with persistent volumes, we have not yet had the case that it differs in the zones, we will continue to test this situation.

Best regards,

Alfonso Ruiz-Bravo

[2018-12-12 15:11] SitoRBJ commented on #8
Hello team,

The first step is to increase the number of replicas in the deployment file:

https://github.com/wazuh/wazuh-kubernetes/blob/master/elastic_stack/kibana/kibana-deploy.yaml#L16

[code]

[code]

After making all the deployment, through an ssh tunnel we access to Nginx and from there to Kibana where we see alerts of our cluster. It is working successfully.

[code]

[code]

[code]

Regard

[2018-12-12 15:38] SitoRBJ commented on #7
Hello team,

The first step is to increase the number of replicas in the deployment file:

https://github.com/wazuh/wazuh-kubernetes/blob/master/elastic_stack/logstash/logstash-deploy.yaml#L16

[code]

[code]

After making all the deployment, through an ssh tunnel we access to Nginx and from there to Kibana where we see alerts of our cluster. It is working successfully.

Regards,

Alfonso Ruiz-Bra

[2018-12-13 17:51] SitoRBJ commented on #11
Hello team,

This task is halfway. We have added these configuration variables:

[code]

We have created the certificates in each node and stored in the corresponding path, exporting them to their volumes.

[code]

We still need to add the passwords where we are receiving an error when reaching the url.

Regards,

Alfonso Ruiz-Bravo

[2018-12-14 15:53] #10 closed

[2018-12-14 16:11] jesuslinares commented on #9
Thanks so much for the information and research @SitoRBJ and @JPLachance .

Great to know. We need to include it in the documentation.

[2018-12-14 16:11] #9 closed

[2018-12-14 16:13] #7 closed

[2018-12-14 16:17] jesuslinares commented on #8
What about the wazuh-monitoring index?. Both pods will index data in that index (duplicating the information).

I think it is not necessary to create 2 replicas for Kibana because it will not increase the Kibana capacity and it will cause some error like the previous one. In this case, it will be a downtime if a Kibana pod fails and another one is created.

Thanks.

[2018-12-14 16:17] #8 closed

[2018-12-23 19:45] jesuslinares opened #16 "Adapt to Search Guard"

[2019-01-09 13:25] SitoRBJ opened #19 "Disable Rootcheck and Syscheck for Wazuh Master"
Hello team,

By default, trial environments will have to come with these modules disabled (**syscheck** and **rootcheck**).

The `localfile` entries must also be deleted.

Regards,

Alfonso Ruiz-Bravo

[2019-01-14 08:57] jesuslinares opened #22 "Release 3.8.0"
Wazuh version: 3.8.0
Elastic version: 6.5.4

- [x] Adapt to new versions (3.8.0 - 6.5.4)
- [x] Update changelog
- [x] Tests
- [x] Tag: v3.8.0
- [x] Draft release

[2019-01-21 09:15] #22 closed

[2019-02-01 06:52] itskingori opened #28 "Unable to access master on port 55000 from inside and outside the container"
From the node ...

[code]

From the container ...

[code]

This is what's running in the master's container ...

[code]

So it is running.

This is what we have listening on the container ports. See:

[code]

[2019-02-12 10:17] manuasir opened #29 "Store credentials in Kubernetes"
We should use Kubernetes secrets for:
- [ ] Kibana user and password
- [ ] API password
- [ ] Authd password

[2019-02-12 13:10] SitoRBJ commented on #28
Hello @itskingori,

First of all, we regret the late response.

The Wazuh API is deployed securely. It will be necessary to use credentials and access through the _https_ protocol.

- From container:

`curl -u API_USER:API_PASS -k  https://localhost:55000/agents`

- From node:

`curl -u API_USER:API_PASS -k https://SERVICE_CLUSTER_IP:55000/agents`

If you have not set the API credentials, the defa

[2019-03-19 17:59] LuisGi93 opened #32 "Duplicate alerts."
Hi team,
right now duplicate alerts are found *sometimes* at least when updating from elastic stack 6.5.4 to 6.6.1.  Have tested tested with our current configuration and with the one used at SAAS:
[code]

[2019-03-20 18:00] LuisGi93 commented on #32
Hi team,
I'm still trying to find patrons. Triying to figure out what could be the cause I readed https://github.com/elastic/beats/issues/678:

"The problem with shared volumes is that sometimes inodes or device id's just change. This leads to the problem, that filebeat thinks it's a new file"

In our development environment I have been testing this. Using `stat /var/ossec/logs/alerts/alerts.json`

[2019-03-25 11:12] manuasir commented on #28
Hello @itskingori ,

Since this issue has no activity for more than one month, it's gonna be closed.
Don't hesitate to open a new issue whenever you may need it.

Cheers

[2019-03-25 11:12] #28 closed

[2019-03-25 17:51] LuisGi93 commented on #32
Hi team,
I'm currently testing  the use of the [tail_files](https://www.elastic.co/guide/en/beats/filebeat/1.2/configuration-filebeat-options.html#_tail_files) option at the filebeat configuration. I was not able to test this much because I got stuck with some issues with our development environment at first and latter trying to figure out the correct way of making the tests.

[2019-03-27 08:07] itskingori commented on #28
@manuasir Sorry for late response. It's ok to close.

[2019-03-27 19:48] manuasir opened #33 "Broken links in instructions document"
Hi, team

It's been reported that several links of the [deployment guide](https://github.com/wazuh/wazuh-kubernetes/blob/master/instructions.md#step-35-deploy-wazuh]) in the `3.5 step` are currently broken, so it'd be necessary to fix them. Specifically, the links are:

- [x] https://github.com/wazuh/wazuh-kubernetes/blob/master/wazuh-master-svc.yaml
- [x] https://github.com/wazuh/wazuh-kubernetes

[2019-03-28 16:12] #33 closed

[2019-04-24 17:47] nshenry03 opened #35 "DaemonSet container progress"
Hi @jesuslinares,

Thank you for the work you've done here; it's great and really helpful.

You mention in the [instructions](https://github.com/wazuh/wazuh-kubernetes/blob/master/instructions.md#monitoring-containers) that you are researching if the agent is able to run as a _DaemonSet_ container:

Has there been any progress on this?  Seems to be a requirement for my team rather than installing

[2019-04-25 17:24] jesuslinares commented on #35
Hi @nshenry03 ,

I didn't have the chance to implement and test it, but it should not be complicated.

Usually, we install the Wazuh agent in the Docker host, so it is able to access logs from other containers, run commands, use the [Docker wodle](https://documentation.wazuh.com/current/docker-monitor/index.html), etc. If you install the Wazuh agent in a container (using a `DaemonSet`), you need t

[2019-04-26 14:02] SitoRBJ opened #36 "Update Elasticsearch cluster statefulset files"
Hello team,

Since the Docker image was updated here, we are able to create an Elasticsearch cluster in a more efficient way and it would be necessary to add the necessary changes in the files corresponding to the creation of the cluster through the use of Kubernetes.

In addition, the relevant documentation must be added.

Best regards,

Alfonso Ruiz-Bravo

[2019-04-30 11:02] manuasir opened #37 "Release 3.9.0"
Wazuh version: 3.9.0
Elastic version: 6.7.1

- [x] Adapt to new versions (3.9.0 - 6.7.1)
- [x] Update changelog
- [x] Tests
- [x] Tag: v3.9.0
- [x] Draft release

[2019-04-30 15:30] #32 closed

[2019-05-03 16:12] #37 closed

[2019-05-20 15:45] manuasir opened #39 "Use Wazuh elasticsearch images"
Hello folks,

It's necessary to update the images of the `elasticsearch` used in the current configuration, here an example:

https://github.com/wazuh/wazuh-kubernetes/blob/69e593c1e74128b299faccff08944c1779ad05bf/elastic_stack/elasticsearch/single-node/elasticsearch-sts.yaml#L53-L55

Since new elasticsearch images for Wazuh were implemented in the [repository](https://github.com/wazuh/wazuh-docke

[2019-05-20 16:21] manuasir commented on #39
Done here #40

[2019-05-20 16:21] #39 closed

[2019-05-21 15:53] manuasir opened #41 "Release 3.9.1_6.8.0"
Wazuh version: 3.9.1
Elastic version: 6.8.0

- [x] Adapt to new versions (3.9.1 - 6.8.0)
- [x] Update changelog
- [x] Tests
- [x] Tag: v3.9.0
- [x] Draft release

[2019-05-21 15:54] manuasir opened #42 "Release 3.9.1_7.1.0"
Wazuh version: 3.9.1
Elastic version: 7.1.0

- [ ] Adapt to new versions (3.9.1 - 7.1.0)
- [ ] Update changelog
- [ ] Tests
- [ ] Tag: v3.9.1
- [ ] Draft release
- [ ] Update Documentation

[2019-05-31 13:09] JPLachance opened #45 "AWS EFS: Queue '/var/ossec/queue/ossec/queue' not accessible: 'Connection refused'"
Hello!

I deployed a Wazuh Cluster in Kubernetes based on my own work and on https://github.com/wazuh/wazuh-kubernetes. To improve the master availability, I'm trying to use an EFS instead of an EBS.

I found an issue similar to this one (#23), but I was asked to open a new one.

My diff for my Kubernetes StatefulSet:
[code]

On boot of the Wazuh manager container, I get:
[code]

I tried to fix it

[2019-06-04 14:14] #41 closed

[2019-06-10 09:42] manuasir opened #44 "Release 3.9.2_7.1.1"
Wazuh version: 3.9.2
Elastic version: 7.1.1

- [ ] Adapt to new versions (3.9.2 - 7.1.1)
- [ ] Update changelog
- [ ] Tests
- [ ] Tag: v3.9.2
- [ ] Draft release
- [ ] Update Documentation

[2019-07-08 09:56] manuasir opened #46 "Release 3.9.3_7.2.0"
Wazuh version: 3.9.3
Elastic version: 7.2.0

- [ ] Adapt to new versions (3.9.3 - 7.2.0)
- [ ] Update changelog
- [ ] Tests
- [ ] Tag: v3.9.3_7.2.0
- [ ] Draft release
- [ ] Update Documentation

[2019-07-08 10:10] manuasir opened #47 "Release 3.9.3_7.1.1"
Wazuh version: 3.9.3
Elastic version: 7.1.1

- [ ] Adapt to new versions (3.9.3 - 7.1.1)
- [ ] Update changelog
- [ ] Tests
- [ ] Tag: v3.9.3_7.1.1
- [ ] Draft release
- [ ] Update Documentation

[2019-07-08 10:11] manuasir opened #48 "Release 3.9.3_6.8.1"
Wazuh version: 3.9.3
Elastic version: 6.8.1

- [x] Adapt to new versions (3.9.3 - 6.8.1)
- [x] Update changelog
- [x] Tests
- [x] Tag: v3.9.3_6.8.1
- [x] Draft release
- [x] Update Documentation

[2019-07-08 10:24] jm404 opened #49 "Add settings to make Kubernetes set up a local environment"
Hi team,

Currently, our k8s code only allows the installation using Amazon AWS, specifically [EKS](https://docs.aws.amazon.com/eks/) as stated in the [instructions.md](https://github.com/wazuh/wazuh-kubernetes/blob/master/instructions.md)

Deploying in a local machine can be really useful for development and testing purposes.

In order to achieve the said objective, the following tasks must be pe

[2019-07-08 17:21] lshahar commented on #35
There is any eta to release the daemonset / docker image for testing?
I would like to use it :+1:

[2019-08-07 10:17] jm404 opened #50 "Release 3.9.2_6.8.0"
Wazuh version: 3.9.2
Elastic version: 6.8.0

- [x] Adapt to new versions (3.9.3 - 6.8.1)
- [x] Update changelog
- [x] Tests
- [x] Tag: v3.9.3_6.8.1
- [x] Draft release
- [x] Update Documentation

[2019-08-07 21:14] JPLachance opened #52 "Configure Liveness and Readiness Probes for managers"
Hello!

For Kubernetes to do its job properly, we need to define readiness and liveliness probes. For Wazuh managers, I'm thinking of [using commands](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#define-a-liveness-command).

An example:
[code]

How would you design those probes? I'm thinking of using `/var/ossec/bin/ossec-control status`, but you mi

[2019-08-08 07:50] jm404 commented on #52
Hi @JPLachance,

The question you raise is quite interesting.

These checks can be tricky as `command`, as you stated, only checks the return of the executed command.

For example, the `/var/ossec/bin/ossec-control status` does actually return `1` even if the default services are properly started

![image](https://user-images.githubusercontent.com/46649922/62682574-c57ffb80-b9bc-11e9-9f2e-e9bf6449

[2019-08-08 14:10] JPLachance commented on #52
Good morning!

`/var/ossec/bin/ossec-control status` never `exit 1`, but `grep` could :)

[code]
Replace `echo "error"` by `exit 1` and I think it could work.

Now, how can I exclude `ossec-maild` from the `ossec-control status`? I did not setup `ossec-maild` because I don't need it.

So I ended up with that tiny Python script that does what I want:
[code]

Kind regards,

Jean-Philippe

[2019-08-08 16:24] JPLachance commented on #52
Take 2!

I made my script "start" the service if it is not running as expected (helps with https://github.com/wazuh/wazuh-docker/issues/222):
[code]

I added that script in the wazuh-manager Docker image (on my machine). Then, in my YAML files:
[code]

I deployed this in my development environment and so far so good!

Kind regards,

Jean-Philippe Lachance

[2019-08-09 07:45] jm404 commented on #52
Our team came up with some ideas, I did little tweaks to use our Docker ENV variables:

[code]

That would allow to ensure versioning on managers and verify the ruleset version. Also checking the `monitord` logs to check if the connection of the Manager was properly set up.

Hope this helps or inspires new ideas!

Best regards

Jose

[2019-08-09 09:28] jm404 opened #53 "Release 3.9.4_7.2.0"
Wazuh version: 3.9.4
Elastic version: 7.2.0

- [x] Adapt to new versions (3.9.4 - 7.2.0)
- [x] Update changelog
- [x] Tests
- [x] Tag: v3.9.4_7.2.0
- [x] Draft release
- [x] Update Documentation

[2019-08-09 09:29] jm404 opened #54 "Release 3.9.5_7.2.0"
Wazuh version: 3.9.5
Elastic version: 7.2.1

- [x] Adapt to new versions (3.9.5 - 7.2.1)
- [x] Update changelog
- [x] Tests
- [x] Tag: v3.9.5_7.2.1
- [x] Draft release
- [x] Update Documentation

[2019-08-12 07:15] jm404 commented on #50
Done in #51

Regards!

[2019-08-12 07:15] #50 closed

[2019-08-12 07:17] jm404 commented on #48
Done! Check Tag [v3.9.3_6.8.1](https://github.com/wazuh/wazuh-kubernetes/tree/v3.9.3_6.8.1)

[2019-08-12 07:17] #48 closed

[2019-08-14 12:09] jm404 commented on #45
Hi @JPLachance,

I'm complementing with some info for further investigation. This error is caused when de [Wazuh Daemons](https://documentation.wazuh.com/3.x/user-manual/reference/daemons/index.html) don't initialize in the proper order.

The desired order is:
[code]

As @SitoRBJ stated, if `analysisd` takes extra time to initialize, rootcheck calls will fail, generating the error you faced.

As f

[2019-08-14 13:11] JPLachance commented on #45
Good morning,

At the moment, my solution is a readiness probe that automatically heals the Wazuh manager if it failed to boot all the services (by simply calling `service wazuh-manager start`). I pasted that script there: https://github.com/wazuh/wazuh-kubernetes/issues/52#issuecomment-519590274

My solution is a patch to a problem that, I think, should be handled by each Wazuh/Ossec services. If

[2019-08-14 13:19] jm404 commented on #45
Hi @JPLachance ,

No magical solutions from our side, I'm discussing with our team in case we can find an optimal solution for this.

Despite you solved the problem, I'm leaving the issue open in case we manage to find a fix or some user comes with a better approach.

Regards Lachance, glad to share thoughts with you!

Jose

[2019-08-30 12:45] danielvalbuenasosa commented on #45
Hi, I just want to share my setup/experience using EFS with Wazuh Kubernetes:

The services are working OK at boot time:
root@wazuh-manager-master-0:/var/ossec/queue/ossec# service wazuh-manager status
wazuh-clusterd is running...
wazuh-modulesd is running...
ossec-monitord is running...
ossec-logcollector is running...
ossec-remoted is running...
ossec-syscheckd is running...
ossec-analysisd is r

[2019-09-02 06:31] jm404 commented on #45
Hello @danielvalbuenasosa,

It's great to know it's working without issues for you. We've been doing some test on newer versions of Wazuh 3.9.x without being able to replicate this problem, this is related to old versions of Wazuh and I'ts relieving to know it's not appearing on new versions.

Thanks for your feedback, i'ts really appreciated

Best regards

Jose

[2019-09-03 14:51] JPLachance commented on #45
Hello!

I went back to an EBS and the difference in performance is really huge. With Wazuh 3.6.1, an EFS really doesn't work well.

Still, if it works with the latest version of Wazuh, I guess we can close this issue. 🙂

Thanks for the help!

[2019-09-11 12:56] jm404 opened #55 "Mounting /etc/postfix causes the override of that path in the pod."
Hi team,

When mounting a volume in /etc/postfix like in:

https://github.com/wazuh/wazuh-kubernetes/blob/f1f3ad1747237a8ed1781c53f3ce1ff9b25215ab/wazuh_managers/wazuh-master-sts.yaml#L51-L52

If the volume is empty, will cause the override of the content saved in that path. In order to avoid that, it's required to implement a mechanism in our Docker images https://github.com/wazuh/wazuh-docker/is

[2019-09-11 14:59] jm404 commented on #45
Hi @JPLachance, @danielvalbuenasosa,

Recently I've been able to reproduce the error described in the first post.

Logs error:
[code]

If restarting pod or Wazuh Manager the deamons are correctly started.

The problems looks like a race-condition which involves `syscheckd`, `analysisd` and `remoted`.

We are investigating possible solutions to this, will keep you updated

Best regards

Jose

[2019-09-12 09:25] jm404 opened #56 "Investigate monitoring solutions to visualize k8s metrics."
Hi team,

There are multiple solutions that can give a great overview of k8s metrics like [Prometheus](https://github.com/prometheus) and [Grafana](https://github.com/grafana/grafana) (both opensource) among many others.

Grafana on top of Prometheus is a common combination whose dashboards looks like the following (from https://github.com/camilb/prometheus-kubernetes):

![image](https://user-imag

[2019-09-13 20:39] JPLachance opened #57 "Upgrade path: Upgrading the Wazuh manager 3.6.1 to 3.9.5 is failing"
Hello,

I'm trying to figure out how to upgrade my Wazuh managers. I tried the simple approach: change the image tag, apply, pray.

It failed 🙁

Here are the logs of the Wazuh manager trying to boot:
[code]

As you can see, the API fails to start (`WazuhAPI 2019-09-13 20:24:52 : ERROR: Wazuh manager v3.9.5 found. Wazuh manager v3.6.x expected. Exiting.`) and analysisd fails to start too (`2019/09/

[2019-09-16 08:44] jm404 commented on #57
Hi @JPLachance,

I'm using wazuh-kubernetes github tag `3.9.5_7.2.1` with modified Dockerhub tags in the StatefulSet to `3.6.1_6.4.2`

I couldn't replicate your API error as my Wazuh-Manager and Wazuh-API are correctly upgraded. The installation in our Docker images is versioned: `apt install wazuh-api=3.9.5-1` so it should make the upgrade on your STS as it does in mine... We will investigate thi

[2019-09-16 15:01] JPLachance commented on #57
Hello,

About the decoder: I did not add any custom decoder.

About volumes:
[code]

For some reason, the API is installed under `/var/ossec/data/api`. Since we mount the persistent volume for `/var/ossec/data`, the persistent volume contains the API.

When we change the Wazuh manager container image version, the old API in `/var/ossec/data/api` overrides the one in the container image file system

[2019-09-16 19:29] JPLachance commented on #57
Hello again,

After a long discussion with @jm404, we ended up with the conclusion that a clean install and restoring only the `/var/ossec/etc/client.keys` file is the way to go! We can do that because, in my case, every configuration files in the Wazuh container is in a ConfigMap and mounted in the container.

Here is my wazuh-master StatefulSet diff:
[code]

Off course, Kubernetes doesn't like t

[2019-09-17 07:41] jm404 commented on #57
Hi @JPLachance ,

This case presented a lot of challenges as upgrading from `3.6` to `3.9` throws a lot of conflicts. As you stated the best approach is to start from a fresh installation as you did by redeploying and loading the custom conf files.

We are completely aware that the upgrade process should be much easier and we are refactoring our [Wazuh Docker Image](https://github.com/wazuh/wazuh-

[2019-09-25 07:29] jm404 opened #58 "Wazuh Kubernetes Release 3.10.0_7.3.2"
Wazuh version: 3.10.0
Elastic version: 7.3.2

- [x] Adapt to new versions (3.10.0_7.3.2)
- [x] Update changelog
- [x] Tests
- [x] Tag: v3.10.0_7.3.2
- [x] Draft release
- [x] Update Documentation

[2019-09-25 07:30] jm404 opened #59 "Wazuh Kubernetes Release 3.10.2_7.3.2"
Wazuh version: 3.10.2
Elastic version: 7.3.2

- [x] Adapt to new versions (3.10.2_7.3.2)
- [x] Update changelog
- [x] Tests
- [x] Tag: v3.10.2_7.3.2
- [x] Draft release
- [x] Update Documentation

[2019-09-26 11:05] #58 closed

[2019-09-26 11:06] #59 closed

[2019-10-03 23:15] shrivastavshubham34 opened #62 "Wazuh managers cluster in Kubernetes behind an AWS Application Load Balancer?"
I'm trying to deploy the Wazuh server in Kubernetes (I'm using your wazuh Kubernetes repo for reference).
From there, I want to expose the Wazuh server to make it available for my other EC2 instances that are not part of my Kubernetes cluster. To do so, I'm creating an ALB Ingress Service to point to my Wazuh NodePort service at 1515 and 55000.

My Service looks like this:
[code]
ALB configuration

[2019-10-03 23:16] shrivastavshubham34 commented on #62
Rules for ALB have been set up, but health checks are done over HTTP unlike NLB which uses TCP

[2019-10-08 18:49] shrivastavshubham34 commented on #62
Nope, Issue is resolved after replacing ALB with NLB

[2019-10-08 18:49] #62 closed

[2019-10-08 18:50] shrivastavshubham34 commented on #62
Thanks for the support!

[2019-10-08 21:35] shrivastavshubham34 opened #63 "Worker nodes not able to communicate with Wazuh manager master"
Hello,
I'm trying to deploy the Wazuh server in Kubernetes (I'm using your Wazuh Kubernetes repo for reference).
I've deployed **wazuh/wazuh:3.9.0_6.7.2** docker image in my k8s cluster hosted on AWS.
I have performed all the steps as instructed.

The problem I am facing is:
The wazuh agent I registered shows as **never connected** in Kibana dashboard.

On further investigation, I tried to curl to

[2019-10-08 23:59] shrivastavshubham34 commented on #63
I'm looking at the  **/var/ossec/etc/ossec.conf** in my worker nodes and I see this:

[code]

My guess is wording is divided into something like:
[code]

Is this accurate?

[2019-10-09 00:26] JPLachance commented on #63
Hello!

Yes it is. That address comes from the [Kubernetes StatefulSet stable network identity](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#stable-network-id) feature. That is configured using the [`wazuh-cluster`](https://github.com/wazuh/wazuh-kubernetes/blob/master/wazuh_managers/wazuh-cluster-svc.yaml) headless service.

- Workers need to reach the Master on port 151

[2019-10-09 00:46] shrivastavshubham34 commented on #63
@JPLachance , thanks for the quick reply!
Yes, I have the two load balancers up and running.

- **Agents are able to reach Master on port 1515 (authd) or 55000 (API) for registration.**
I tried the simple registration service of an agent and got the below output on agent:
![image](https://user-images.githubusercontent.com/13406071/66442915-cbf91680-e9f1-11e9-860b-c5f3d7699027.png)
And below output

[2019-10-09 01:07] shrivastavshubham34 commented on #63
I was able to resolve this issue, using the stable network identity feature of statefulSets, I had created a different namespace that was the root problem causing the worker nodes not to communicate with the master.
Thank you guys for the support!

[2019-10-09 01:07] #63 closed

[2019-10-21 12:15] #54 closed

[2019-10-21 12:15] #53 closed

[2019-10-21 12:15] #42 closed

[2019-10-21 12:15] #44 closed

[2019-10-21 12:16] #46 closed

[2019-10-21 12:16] #47 closed

[2019-10-21 12:19] #19 closed

[2019-10-22 13:38] bangnh1 opened #64 "Wazuh agent can't connect to managers in public"
I'm trying to use Wazuh in Kubernetes on AWS. I modified wazuh-workers-svc.yaml for using internet-facing Load Balancer.
But my agent can't connect to Wazuh managers endpoint.

wazuh-workers-svc.yaml
[code]

If I use real ip address when register agent, logs that I received in Wazuh workers as below:
[code]
If I use "any" in ip address field when register agent:
[code]

If I turn on proxy protocol

[2019-10-23 08:13] jm404 commented on #64
Hi @bangnh1,

I will try to reproduce your issue with the configurations you provided.

Let me ask you for further information in order to be able to reproduce your case:

- Are you using the Wazuh Docker images from https://github.com/wazuh/wazuh-docker/?
- Did you follow the https://github.com/wazuh/wazuh-kubernetes/blob/master/instructions.md guide?
- Which Agent OS are you using?
- Are you usi

[2019-10-23 09:19] bangnh1 commented on #64
Hi @jm404 ,
Thank you for response to me,

 Yes

I have an external ELK cluster, so I only install Wazuh cluster, I ignored the steps related to Elasticsearch. I will integrate when I'm done with Wazuh cluster.

Amazon Linux 2018.03

I don't use SSL

Do you have any suggestions for me? Thank u so much !!!

[2019-11-13 15:41] #16 closed

[2019-12-05 06:18] moshe0076 commented on #45
@jm404 Hi,

Any progress with this issue?

We are running Wazuh on EKS with the data directory mounted into EFS (one master, two workers).
 Any restart of the worker pods puts them in a situation that they are in a not READY state in kubernetes which require us to restart the master and worker pod a few times until the all the worker pods are back in READY state in Kubernetes.

Thanks!

[2019-12-05 09:05] jm404 commented on #45
Hi @moshe0076,

Which version of Wazuh are you using? It's important for us in order to clarify if if the error still appear in newer versions.

Best regards,

Jose

[2019-12-05 10:04] moshe0076 commented on #45
We are using the Docker wazuh/wazuh:3.10.2_7.3.2

[2019-12-05 10:17] jm404 commented on #45
Noted. We will take this into consideration as we only saw the error appearing in previous versions until you reported it.

[2019-12-27 17:27] jm404 opened #65 "Wazuh Release 3.11.0_7.5.1"
Wazuh version: 3.11.0
Elastic version: 7.5.1

- [ ] Adapt to new versions (3.11.0_7.5.1)
- [ ] Update changelog
- [ ] Tests
- [ ] Tag: v3.11.0_7.5.1
- [ ] Draft release
- [ ] Update Documentation

[2019-12-30 08:24] #65 closed

[2020-01-07 08:11] jm404 opened #67 "Wazuh Release 3.11.1_7.5.1"
Wazuh version: 3.11.1
Elastic version: 7.5.1

### Tasks

- [x] Adapt to new versions (3.11.1 - 7.5.1)

- [x] Check templates and update them if needed

- [x] Tests

- [x] Update changelog

- [ ] Tag: v3.11.1_7.5.1

- [ ] Update documentation references

- [ ] Draft release

[2020-01-08 09:15] #67 closed

[2020-01-09 09:01] jm404 commented on #64
Hi @bangnh1,

Sorry for the late response, did you finally integrated the Wazuh Cluster in your EKS cluster?

Let us know if you still facing the same problem.

Best regards,

Jose

[2020-01-16 02:03] rabidsloth opened #69 "health-check-configmap doesn't exist"
The wazuh-master-sts.yaml file references a configmap named `health-check-configmap`, but this configmap doesn't seem to be included in the repo. It causes the deployment to fail because it cannot mount the volume.

https://github.com/wazuh/wazuh-kubernetes/blob/master/wazuh_managers/wazuh-master-sts.yaml#L36

[2020-01-16 08:39] jm404 commented on #69
Hi @rabidsloth,

Sorry for the inconveniences, we have already removed related blocks to the pod-health which caused the issue, make sure to pull the changes and try again.

Best regards,

Jose

[2020-01-16 21:22] rabidsloth commented on #69
Looks good, thanks!

[2020-01-16 21:22] #69 closed

[2020-01-20 13:36] amirtal commented on #36
is there any update on this?
it seems the current statefulset.yaml file provided in the repo is broken.

[2020-01-22 13:40] jm404 opened #70 "Wazuh Kubernetes release 3.11.2_7.5.1"
Wazuh version: 3.11.2
Elastic version: 7.5.1

### Tasks

- [x] Adapt to new versions (3.11.2 - 7.5.1)

- [x] Check templates and update them if needed

- [x] Tests

- [x] Update changelog

- [ ] Tag: v3.11.2_7.5.1

- [ ] Update documentation references

- [ ] Draft release

[2020-01-22 15:48] #70 closed

[2020-01-23 16:05] aroes opened #72 "Deprecated options in wazuh configmaps"
Running kubectl logs on the master wazuh pod shows deprecated options are in use:

`2020/01/23 15:46:25 ossec-syscheckd: WARNING: The check_unixaudit option is deprecated in favor of the SCA module.`
`2020/01/23 15:46:25 wazuh-modulesd: WARNING: This vulnerability-detector declaration is deprecated. Use <vulnerability-detector> instead.`
`2020/01/23 15:46:25 wazuh-modulesd: WARNING: 'disabled' opt

[2020-01-23 17:19] aroes opened #73 "Kibana "no spaces match search criteria""
Following the instructions.md, using the elasticsearch cluster folder, in an AWS cluster, the Kibana instance redirects the base URL of the ALB to "[xyz]/spaces/space_selector#?_g=()". Most of the time, this page shows no spaces, as seen in the attached image. Occasionally upon refreshing the "Default" space will show up, but behavior after clicking it is shaky, and seems to redirect to the space_

[2020-01-24 08:42] jm404 commented on #73
Hi @aroes

It seems to be an error related to Elasticsearch, let me ask you for some details about your deployment:

- The `wazuh-kubernetes` branch version you used
- Elasticsearch log and output of: `_cat/health` and `_cat/indices?v`
- Output of `journalctl -u kibana`

Also, you could try navigate to `<your_kibana_address>/app/wazuh` from a private session in your browser in order to discard any

[2020-01-24 10:53] aroes commented on #73
Hi, thanks for the fast response. Note that this morning, I tried to deploy using the elasticsearch single node folder and it worked fine. Was able to reproduce the issue again by using the cluster folder. In case this could be a resource issue, I'll point out that I'm using 2 m4.xlarge nodes in my AWS cluster.

\-I'm using the master branch, latest commit (4284df3).
\-Output of 2 HTTP APIs from k

[2020-01-28 11:48] jm404 opened #74 "Wazuh Kubernetes Release 3.11.3_7.5.2"
Wazuh version: 3.11.3
Elastic version: 7.5.2

### Tasks

- [ ] Adapt to new versions (3.11.3 - 7.5.2)

- [ ] Check templates and update them if needed

- [ ] Tests

- [ ] Update changelog

- [ ] Tag: v3.11.3_7.5.2

- [ ] Update documentation references

- [ ] Draft release

[2020-01-28 17:59] #74 closed

[2020-01-29 17:50] xr09 commented on #49
There is support for a local minikube environment on the branch [feature-local-environment](https://github.com/wazuh/wazuh-kubernetes/tree/feature-local-environment).

A new wazuh namespace is created with 4 pods (wazuh, elastic, kibana, nginx). Both Wazuh and Nginx pods are exposed through NodePort on 31514,31514 and 30443 respectively.  (By default Minikube allows the range `30000-32767` for Nod

[2020-01-30 10:37] xr09 commented on #49
The new deployment procedure for this local environemnt is using `kustomization.yaml` a way of personalize a kubernetes deployment without having to apply each one of the files and allowing to modify its metadata directly from one yaml.

https://github.com/kubernetes-sigs/kustomize

This is a sample of our `kustomization.yaml`:

[code]

Since release 1.14 kubernetes supports kustomization files to

[2020-02-27 11:15] cbluth opened #76 "Following Setup Instructions Results in Never-Connected Clients"
following the instructions, as seen here: https://github.com/wazuh/wazuh-kubernetes/blob/b1d99161d5254645b4a3b6eae72f9cff35ae8011/instructions.md

will result in clients that cannot connect, showing a "never-connected" status.

in order to allow them to connect, a modification must be made on each client, and the client needs to be restarted.
here is the fix incase someone needs it:

[code]
the fi

[2020-02-27 11:18] cbluth commented on #76
in case anyone is interested, the kubernetes deployment manifest yaml that i used can be found here:
https://gist.github.com/cbluth/f5c6b14005f2529de8352f610a9543a5#file-wazuh-central-deployment-yaml

[2020-02-27 11:39] jm404 commented on #76
Hi @cbluth,

The AWS LoadBalancer is configured to handle the connections on TCP ports aswell as some other configs are prepared for this. As you stated the Agent must be configured to report on TCP.

Thanks for reporting this, we will implement required changes and open a PR for this. In case you have these changes already developed please feel free to open a PR and contribute to the project, we'

[2020-02-27 14:02] cbluth commented on #76
@jm404

you can see from my posted gist-file, that i have omitted the loadbalancers because i do not use AWS, and i have opted for routed `ClusterIP`s.
you can also see from the same gist-file that i have attempted to allow the k8s services (`kind: Service`) to listen on UDP also, so that the remote clients do not need to be reconfigured/restarted, but the actual pods themselves (`kind: StatefulSe

[2020-02-27 14:55] cbluth commented on #76
i tried adding this to all three `ossec.conf` files:
[code]
recreating the whole setup from scratch with the additional config above causes a failure like so: https://i.imgur.com/aZd6hkn.png
(api not responding)

removing the config snippet and recreating it again will result in a functional api

[2020-02-28 08:29] cbluth opened #77 "Restarting (deleting) the master pod results in lost registration dates"
deleting the master pod creates an issue where the registration timestamps are lost.

![image](https://user-images.githubusercontent.com/6709636/75523674-be7a1280-5a0c-11ea-8c47-b0b93d655465.png)

[2020-03-02 02:27] JPLachance commented on #77
I confirm I observe the same issue with Wazuh 3.10.2.

[2020-03-02 16:52] manuasir commented on #77
Hello @cbluth and @JPLachance ,

This behavior can be reproduced when the `/var/ossec/queue/agents-timestamp` file is removed between manager restarts. Can you please check that file in your pod? It should look similar to this:

![image](https://user-images.githubusercontent.com/10210567/75698105-5ea29680-5cae-11ea-9b31-455106f106e4.png)

 Let me try to investigate this problem, it seems to only a

[2020-03-05 17:20] manuasir opened #78 "Wazuh Kubernetes Release 3.11.4_7.6.1"
Wazuh version: 3.11.4
Elastic version: 7.6.1

### Tasks

- [x] Adapt to new versions (3.11.4 - 7.6.1) f555401

- [x] Check templates and update them if needed

- [x] Tests

- [x] Update changelog f555401

- [x] Tag: v3.11.4_7.6.1

- [x] Update documentation references

- [x] Draft release

[2020-03-06 10:45] cbluth commented on #77
@manuasir thanks for the explanation
here is what i see in my master node:
[code]

[2020-03-24 15:46] #78 closed

[2020-03-24 15:48] manuasir opened #80 "Wazuh Kubernetes Release 3.12.0_7.6.1"
Wazuh version: 3.12.0
Elastic version: 7.6.1

### Tasks

- [x] Adapt to new versions (3.12.0 - 7.6.1)

- [x] Check templates and update them if needed

- [x] Tests

- [x] Update changelog

- [ ] Tag: v3.12.0_7.6.1

- [ ] Update documentation references

- [ ] Draft release

[2020-03-26 17:39] #80 closed

[2020-03-30 17:14] #11 closed

[2020-03-30 17:31] jm404 commented on #57
Hi @JPLachance,

I-m closing this issue due to inactivity, please feel free to open a new one if you need it.

[2020-03-30 17:31] #57 closed

[2020-03-30 17:34] jm404 commented on #72
Hi @aroes,

These warnings appear in the default configuration of Wazuh, in order to remove them please check your `/var/ossec/etc/ossec.conf` and update required fields.

Sorry for the late response, please let us know if you need further help.

Best regards,

Jose

[2020-03-30 17:37] jm404 commented on #73
Hi @aroes,

Sorry for the late response, did you manage to fix the error or you still facing this issue? If you still experience errors related to this please let us know.

Best regards,

Jose

[2020-03-30 17:43] jm404 commented on #76
Hi @cbluth,

This might be related to https://github.com/wazuh/wazuh-kubernetes/issues/64, please let us know if you managed to fix the problem or need further help.

Best regards,

Jose

[2020-03-30 17:45] jm404 commented on #77
Hi @cbluth , it seems that as you and @manuasir reproduced, the error is related to the agents-timestamp not being properly saved in the volume. This issue will be addressed in our refactor of  `wazuh-docker` images.

Best regards,

Jose

[2020-03-30 17:50] jm404 commented on #77
I'm closing this issue as this will be addressed at https://github.com/wazuh/wazuh-docker/issues/320, please feel free to open a new one if you need it.

Best regards,

Jose

[2020-03-30 17:50] #77 closed

[2020-03-30 18:41] aroes commented on #72
Thank you, I saw later that the default conf is the same in the main wazuh repo. Is it intentional that it is using deprecated values or should I raise an issue there?

[2020-03-30 19:08] aroes commented on #73
Hello, I did not find a solution so I worked around the issue by using the non-cluster elasticsearch config files.

[2020-03-31 09:37] jm404 commented on #73
Hi @aroes

Thanks for the quick response. I suspect it's due to the low hardware specs assigned to ES but anyway we will review it just to make sure

Best regards,

Jose

[2020-03-31 09:40] jm404 commented on #72
Hi @aroes,

It's intentional in order to make sure users are aware of this. I'm closing this issue as I assume the doubt is resolved, please feel free to open a new one anytime you need it

Best regards,

Jose

[2020-03-31 09:40] #72 closed

[2020-03-31 09:42] jm404 commented on #76
Hi @cbluth, I'm closing this issue as it's a duplicated of #64 as commented earlier, please feel free to share your thoughts on it on the referenced issue

Best regards,

Jose

[2020-03-31 09:42] #76 closed

[2020-03-31 12:23] #73 closed

[2020-03-31 15:46] #49 closed

[2020-04-07 12:44] manuasir opened #83 "Wazuh Kubernetes release v3.12.2_7.6.2"
Wazuh version: 3.12.2
Elastic version: 7.6.2

### Tasks

- [x] Adapt to new versions (3.12.2 - 7.6.2)

- [x] Check templates and update them if needed

- [x] Tests

- [x] Update changelog

- [x] Tag: v3.12.2_7.6.2

- [x] Update documentation references

- [ ] Draft release

[2020-04-22 17:14] pchristos opened #85 "Wazuh Configurability - Kubernetes"
|Wazuh version|Component|Install type|Install method|Platform|
|:---:|:---:|:---:|:---:|:---:|
| 3.12.0-1 | wazuh-manager | manager | docker | EKS AMI type AL2_x86_64 version 1.14.9-20200228 |

Hello,

I've been working on deploying Wazuh on EKS using Helm. At the moment, I have an end-to-end working HA setup with Wazuh (1 master and 2 worker nodes) + ELK running on top of Kubernetes.

However, I'

[2020-04-22 18:33] xr09 commented on #85
Hello @pchristos,

We have moved this issue to the k8s repo, since it's more related.

1. You could build a predefined `config.js` file with HTTPS disabled and use config maps to mount it.

2. With 1 done you could define the variable API_GENERATE_CERTS as False.

3. Due to the way synchronization works on the Wazuh cluster it is not possible to define the workers as replicas and let k8s manage th

[2020-04-26 10:07] pchristos commented on #85
Hey,

Thanks for the response. So, here's my two cents:

1 & 2 - So a combination of these two is required? Basically (2) cannot work without (1), right? Don't you think that makes things a bit less intuitive? I'd expect setting `API_GENERATE_CERTS` to just do the trick.

Regarding (3) - So the problem here is shared state? Is each worker supposed to keep its own state? I believe that's something

[2020-04-30 11:47] #83 closed

[2020-04-30 11:48] manuasir opened #86 "Wazuh Kubernetes v3.12.3_7.6.2"
Wazuh version: 3.12.3
Elastic version: 7.6.2

### Tasks

- [x] Adapt to new versions (3.12.3 - 7.6.2)

- [x] Check templates and update them if needed

- [x] Tests

- [x] Update changelog

- [x] Tag: v3.12.3_7.6.2

- [x] Update documentation references

- [x] Draft release

[2020-04-30 15:10] #86 closed

[2020-05-07 08:58] #64 closed

[2020-05-20 10:01] rverma-jm opened #88 "support kustomize"
Can you please add a Kustomization file to support remote install.

[2020-05-20 10:15] jm404 commented on #88
Hi @rverma-jm, sorry but I think I don't fully understand your request, could you provide more information about how implementing Kustomization would be useful for the repo? Some examples would be great

Best regards,

Jose

[2020-06-08 19:57] jctello opened #89 "[Clarification] Are elasticsearch nodes supported?"
Hi team,
I believe this line is outdated:
https://github.com/wazuh/wazuh-kubernetes/blame/master/instructions.md#L46
Because some lines below in the same document it seems clusters are supported:
https://github.com/wazuh/wazuh-kubernetes/blob/v3.12.3_7.6.2/instructions.md#step-32-deploy-elasticsearch

It seems that was provided here: https://github.com/wazuh/wazuh-kubernetes/issues/36

If possible

[2020-06-23 16:36] xr09 opened #90 "Wazuh Kubernetes v3.13.0_7.7.1"
Wazuh version: 3.13.0
Elastic version: 7.7.1

### Tasks

- [x] Adapt to new versions (3.13.0 - 7.7.1)

- [ ] Check templates and update them if needed

- [ ] Tests

- [ ] Update changelog

- [ ] Tag: v3.13.0_7.7.1

- [ ] Update documentation references

- [ ] Draft release

[2020-06-24 16:22] #90 closed

[2020-07-13 15:04] Born2Bake opened #93 "Cannot access wazuh-workers ELB service"
Hi,

We deployed wazuh cluster on kube in AWS. It used to work fine, however, now we are getting weird issue - wazuh agents cant connect to wazuh-worker ELB service.

[code]
LB config:
[code]

Thus, wazuh cluster / manager is working fine. I can register new agents if needed but they cannot talk to workers-svc. Sec. groups should not be an issue since everything can be reached except workers-svc.

[2020-07-14 15:00] xr09 opened #94 "Wazuh Kubernetes v3.13.1_7.8.0"
Wazuh version: 3.13.1
Elastic version: 7.8.0

### Tasks

- [x] Adapt to new versions (3.13.1 - 7.8.0)

- [x] Check templates and update them if needed

- [ ] Tests

- [ ] Update changelog

- [ ] Tag: v3.13.1_7.8.0

- [ ] Update documentation references

- [ ] Draft release

[2020-07-14 19:22] #94 closed

[2020-07-16 13:58] chowmean opened #96 "Wazuh Agent as daemonset on kubernetes"
Hi, I am new to wazuh, I want to know is there a way to install wazuh agent as a daemonset in kubernetes and then make the agent log to console, so that any other log aggregator can read and use the logs.

[2020-07-23 10:49] manuasir opened #97 "Increase Kibana --max-old-space-size option"
Hi folks,

It seems that Kibana is not able to run with the current amount of memory, so we must consider increasing it from `512` to `2048`.

Regards

[2020-07-23 14:39] tordenist commented on #97
Just ran a couple of tests and can confirm that 2048 is the minimum that won't trigger restarts.

[2020-07-24 14:53] manuasir commented on #97
Done here #98

[2020-07-24 14:53] #97 closed

[2020-07-26 09:12] chowmean commented on #93
Can you share the ossec config?

This can be because of below
1. I hope you are aware that registration url and logs url are different.
2.  Manager endpoint is used for registering the agent and worker endpoint for logs. Is ossec config your manager elb endpoint would be there.
3. There is also issue when you use TCP or UDP. When you registered the agent did you use UDP or TCP.

[2020-07-27 08:38] Born2Bake commented on #93
Hi,

Thank you for your response.

Ansible config:
[code]

Ossec:

[code]
Ossec logs on machine:

[code]

So agents can be registered but they cannot talk to 1514 elb for some reason.

[2020-07-27 12:24] chowmean commented on #93
you are trying to connect to port 1514 of registration service but it should be connected to 1515. I guess the agent has not registered with the manager also right?

[2020-07-27 13:40] manuasir commented on #88
Hello @rverma-jm ,

We have this approach in a [development branch](https://github.com/wazuh/wazuh-kubernetes/blob/local-environment/minikube/kustomization.yaml)
[code]

You would just to adjust the paths to your needs and then apply it like this
[code]

I hope that helps.

Regards

[2020-07-27 13:40] #88 closed

[2020-07-27 13:56] Born2Bake commented on #93
Agents are registered but they are disconnected.  Registration service is 1515 and workers are 1514.

[code]

[2020-07-27 14:16] chowmean commented on #93
Config seems fine.
Can you please verify the steps ansible take to install it?
1. WAZUH_MANARGER="manager_elb" WAZUB_PROTOCOL="tcp" yum install wazuh-agent
2. Was the LB config in ossec.conf = manager_elb or worker_elb?
3. If LB config is changed by ansible after installation is the wazuh-agent restarted?

[2020-07-27 14:24] chowmean commented on #35
Hi @jesuslinares and @nshenry03 , I would like to take this forwards. Will you be able to share the knowledge or track that you have decided. I will try to take this forward from there.

[2020-07-28 13:54] Born2Bake commented on #93
Hi,

ossec.conf = worker_elb with 1514 port number and configured to use tcp.

[code]

[2020-07-28 16:53] chowmean commented on #93
Can you just try one more thing if you have not done it before? Stop the agent and start it. If you have done it, I don't see any issue anywhere. That's all from my side.

[2020-08-06 19:26] mickengland opened #99 "host not found in upstream "kibana""
I installed Wazuh in minikube via the local-environment branch. All the pods come up correctly but after a few minutes the wazuh-nginx goes into CrashLoopBackOff. There is the following error in the logs:

[code]
I can't find a configmap for nginx. Here is what my current resources look like:

[code]
Any guidance much appreciated.

[2020-08-10 18:19] manuasir commented on #93
@Born2Bake just wanted to follow up on this. Were you able to solve your problem?

[2020-08-17 13:09] xr09 commented on #99
Hi @mickengland,

wazuh-nginx has a default config injected to the container in build time: https://github.com/wazuh/wazuh-docker/blob/master/nginx/config/entrypoint.sh#L54-L76

I tried to reproduce your issue but I got it running correctly in my environment:

![Screenshot_20200817_150133](https://user-images.githubusercontent.com/1380243/90399501-5511bd00-e09b-11ea-94cc-6baadc659234.png)

Keep in

[2020-08-27 19:51] VineelaNarendra opened #100 "Minikube wazuh-kibana-app API socket hung"
with the latest code from local-environment branch I see that the wazuh api socket hung-up issue in the `/usr/share/kibana/optimize/wazuh/logs/wazuhapp-plain.log` PFA how it shows in UI

]
<img width="1000" alt="Screenshot 2020-08-28 at 1 16 54 AM" src="https://user-images.githubusercontent.com/64790765/91488038-57aab880-e8cc-11ea-9a68-6b9efecc02ac.png">

if I do curl from kibana container I get t

[2020-08-27 19:54] VineelaNarendra commented on #100
@xr09 can you please add your views here to resolve this.

[2020-08-28 12:59] xr09 commented on #100
Hi @VineelaNarendra thanks for reporting this, I managed to reproduce it on my local env using kind. We're working on this.

[2020-08-31 14:06] xr09 commented on #100
Hey @VineelaNarendra I had some issues on my environment related to resources which caused Kibana to fail, I'm pushing these  fixes to a new branch along with a version bump to use `3.13.1` images.

Could you try this branch? https://github.com/wazuh/wazuh-kubernetes/tree/bump-local-env-3.13.1_7.8.0

[2020-09-13 11:09] serxansherif opened #102 "Missing Logstash folder"
According to the Wazhuh Kubernetes installation guide, the Logstash folder should be in the git but I couldn't find it.
Installation guide: https://documentation.wazuh.com/3.13/deploying-with-kubernetes/kubernetes-conf.html
![image](https://user-images.githubusercontent.com/53265420/93016540-aa71b900-f5ca-11ea-8989-2e7022f8b828.png)
**Git**
![image](https://user-images.githubusercontent.com/532654

[2020-09-15 11:21] rjmoseley commented on #85
Hey,

Very much new to wazuh but have been taking a look at some of this stuff myself with a look to deploying to k8s.  Regarding 3, I've got some local changes which switches to a single worker `StatefulSet` and `ConfigMap` which along with the `sed` in https://github.com/wazuh/wazuh-docker/pull/261 allows this to be cleaned up and use replicas to manage and scale the worker nodes.  Happy to open

[2020-09-16 13:36] manuasir commented on #102
Hello @serxansherif

You're right. I'll address this issue in the wazuh-documentation repo and I'll fix it.
Sorry for the inconvenience.

Regards

[2020-09-18 13:17] xr09 opened #103 "Wazuh Kubernetes v3.13.2_7.9.1"
Wazuh version: 3.13.2
Elastic version: 7.9.1

### Tasks

- [x] Adapt to new versions (3.13.2 - 7.9.1)

- [x] Check templates and update them if needed

- [ ] Tests

- [x] Update changelog

- [ ] Tag: v3.13.2_7.9.1

- [x] Update documentation references

- [x] Draft release

[2020-09-19 03:37] ponchov commented on #73
Hi, I have the same issue and I want to know if you found any solution for this issue?.

[2020-09-21 19:36] mcdoolz commented on #73
Hi there; I'm using the Docker version of Kibana alongside the Docker ES in a small local development environment.

I see this appear completely at random and my only recourse to date has been to regenerate a container using the original image.  The Kibana interface appears normally, I create an index of * again, all is tickety boo for an indeterminate amount of time before suddenly, boom, rinse r

[2020-09-22 11:40] #103 closed

[2020-09-22 13:08] manuasir commented on #99
Closing due to inactivity.

[2020-09-22 13:08] #99 closed

[2020-09-22 13:10] manuasir commented on #85
Hello, @rjmoseley that sounds interesting. Feel free to open a PR so we can evaluate those changes.

[2020-09-22 13:14] manuasir commented on #55
Since we decided to get the Postfix deps out of the Wazuh main container, this issue is not related anymore. The changes will be out with the v4.0 release. More info: https://github.com/wazuh/wazuh-docker/issues/277

[2020-09-22 13:14] #55 closed

[2020-09-22 13:16] #93 closed

[2020-09-22 13:38] manuasir commented on #100
@VineelaNarendra closing this ticket due to inactivity. Don't hesitate to open a new one if your problem persists after the latest changes.

[2020-09-22 13:38] #100 closed

[2020-10-07 17:57] #29 closed

[2020-10-19 13:33] aroes opened #110 "Wazuh clusterkey not being replaced in config"
Since the wazuh docker image has not been rebuilt on dockerhub since the secrets change, the cluster key in the configmaps is not being replaced as expected (old version of 00-wazuh.sh).

[2020-10-19 14:26] manuasir commented on #110
Hello @aroes ,

I assume you're using the `master` branch, where all the new features and changes are being merged. This branch does not guarantee stability, but you can use our latest stable release which corresponds with the [v3.13.2_7.91](https://github.com/wazuh/wazuh-kubernetes/tree/v3.13.2_7.9.1) tag. Let me know if this helps.

[2020-10-19 14:56] aroes commented on #110
Ah sorry I assumed master was stable, thank you. Since I'd like to use the secrets, I'll wait until the next version of wazuh docker.

[2020-10-19 14:56] #110 closed

[2020-11-03 12:51] xr09 opened #111 "Design workflow to manage ODFE certs on EKS cluster"
This issue will track the design of a workflow to manage the creation of certs compatible with a ODFE deployment.

## Tasks

- [ ] Generate root CA beforehand and store it as a secret
- [ ] Generate cert for filebeat on-demand with an initContainer and save to a volume
- [ ] Run Wazuh container with root CA from secret and filebeat cert from volume

[2020-11-03 13:43] AdamWyzgol opened #112 "chroot error on start es pod"
I just install wazuh on new kubernetes cluster, on ES I have in logs error:
chroot: cannot change root directory to /: Operation not permitted
This occures only on this pod, I tried also older versions of image, there was the same problem. Where could be the issue?

[2020-11-03 14:13] AdamWyzgol commented on #112
after adding to container definition:
        securityContext:
          runAsUser: 1000
it starts working, the same problem I had after changed image to base elasticsearch image. I foud that resolution after read this https://github.com/elastic/helm-charts/issues/357#issuecomment-553371078 maybe it help someone.

[2020-11-03 14:31] #102 closed

[2020-11-03 14:43] xr09 commented on #112
Hi @AdamWyzgol,

I'm trying to emulate this error. Could you share more details about your Kubernetes environment (minikube, EKS, GKE, etc) and the exact steps you followed for the deployment?

[2020-11-03 14:48] xr09 commented on #1
Fixed on https://github.com/wazuh/wazuh-kubernetes/pull/106

[2020-11-03 14:48] #1 closed

[2020-11-03 15:24] AdamWyzgol commented on #112
I have some more details, the same error occure on manager pods. I think it could be related with CRI-o based cluster. It is custom installation from kubeadm, latest version of k8s and crio.

[2020-11-03 16:06] AdamWyzgol commented on #112
I found this https://github.com/opendistro-for-elasticsearch/opendistro-build/issues/167 it is probalby the issue

[2020-11-03 16:38] xr09 commented on #112
Thanks for the PR we'll give it a look soon.

[2020-11-04 10:55] xr09 commented on #111
I'm currently working on a simpler approach using a `kustomization.yml` to preload the certs as secrets and then using these on the cluster. Since the Elastic cluster is not meant to scale automatically then those certs will be loaded at first, the wazuh workers only need certs for filebeat which can be included in the preload step as well.

[2020-11-04 18:21] xr09 commented on #111
The workflow to follow will be to preload certs and elastic config files as secret and ConfigMaps:

First would be to generate the certificates using the `generate-opendistro-certs.yml`:

`docker-compose -f generate-opendistro-certs.yml run --rm generator`

This should render certs on a folder `odfe_ssl_certs` which later will be used from the `kustomization.yml`.

[code]

To load the Elastic clus

[2020-11-05 18:42] xr09 commented on #111
### Current status

Managed to deploy the complete 4.0 cluster with a single-node elasticsearch, certificates are being loaded with secretGenerator through the kustomization.yml.

These are the services currently running:
- 1 Wazuh master node
- 2 Wazuh worker nodes
- 1 odfe node
- 1 kibana odfe node

![Screenshot_20201105_193108](https://user-images.githubusercontent.com/1380243/98281769-777ded00

[2020-11-06 17:53] xr09 commented on #111
My current approach to solve this is to use an init container to parse the ordinal number of the StatefulSet and copy the right config file and certificate to a new volume, then mount the right files from this new volume into the final container.

[2020-11-09 18:44] xr09 commented on #111
Currently the ODFE cluster is running with a StatefulSet (3 replicas), the conf hack to mount each certificate on the right pod is working:

[code]

[2020-11-10 11:18] AdamWyzgol opened #114 "Secrets have not namespace defined"
All secrets have no namespace defined and can't be consumed by wazuh

[2020-11-10 13:18] xr09 commented on #114
Fixed by #115

[2020-11-10 13:18] #114 closed

[2020-11-13 17:47] xr09 commented on #111
Thanks to built-in env var rendering for the config file on the elastic/opendistro Docker entrypoint it is possible to avoid the `conf-hack` initContainer and ship a single config file able to scale.

[code]

On the sts defnition:

[code]

Also switched to use a simpler script (based on openssl) to generate the certs offline.

[2020-11-15 23:46] gwvandesteeg opened #116 "Nodes restarting in different Availability Zones"
In the StorageClass definition you're missing an important setting of WaitForFirstConsumer.
This resolves the issue of topology constrained storage backends (such as AWS EBS).
[code]
as per:  https://kubernetes.io/docs/concepts/storage/storage-classes/

The main cause of this would be where the instance using the volume is restarted for some reason onto a different availability zone.  The above mi

[2020-11-16 09:41] xr09 commented on #116
Hey @gwvandesteeg, thanks a lot for reaching out, I'll take a look at this and get it fixed.

[2020-11-17 18:17] xr09 commented on #112
Fixed by #113

[2020-11-17 18:17] #112 closed

[2020-11-17 18:22] xr09 commented on #111
This issue is deprecated by latest developments since we switched to use a single certificate in all nodes.

[2020-11-17 18:22] #111 closed

[2020-11-17 18:26] xr09 opened #117 "Wazuh Kubernetes v4.0.0_1.10.1"
Wazuh version: 4.0.0
OpenDistro for Elasticsearch version: 1.10.1

### Tasks

- [x] Adapt to new versions (4.0.0 - 1.10.1)

- [x] Check templates and update them if needed

- [x] Tests

- [x] Update changelog

- [x] Tag: v4.0.0_1.10.1

- [x] Update documentation references

- [x] Draft release

[2020-11-17 20:39] xr09 commented on #117
Done in https://github.com/wazuh/wazuh-kubernetes/pull/118

[2020-11-17 20:39] #117 closed

[2020-11-18 11:54] Bilvani opened #119 "We would like to use AWS Elasticsearch Service for wazuh"
Please provide documentation for integrating aws elastic search with wazuh. Please provide the documention if u have anything.

[2020-11-18 12:12] Bilvani opened #120 "Agent is never connected"
If I am making use of telnet in order to check connectivity I can see that it is connected but then the agent is never connected on master.

<img width="501" alt="Screenshot 2020-11-18 at 5 31 16 PM" src="https://user-images.githubusercontent.com/71020465/99529292-8e710600-29c5-11eb-8593-07c0e99aed74.png">

<img width="925" alt="Screenshot 2020-11-18 at 5 38 08 PM" src="https://user-images.githubu

[2020-11-18 14:55] JPLachance commented on #119
I currently use AWS Elasticsearch as a backend for Wazuh. I confirm it works. Since AWS Elasticsearch is leveraging [Open Distro for Elasticsearch](https://opendistro.github.io/for-elasticsearch/), the setup is almost simple.

1. Create an AWS Elasticsearch cluster with the [internal user database](https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/fgac.html#fgac-walkthrough-b

[2020-11-20 08:46] #120 closed

[2020-11-20 10:54] xr09 commented on #120
Hey @Bilvani sorry for the dealy, did you solved this one?

[2020-11-20 11:01] Bilvani commented on #120
The issue is resolved

On Fri, 20 Nov 2020 at 4:24 PM, Manuel Gutierrez <notifications@github.com>
wrote:

[2020-11-20 14:54] xr09 opened #122 "Wazuh Kubernetes v4.0.2_1.11.0"
Wazuh version: 4.0.2
OpenDistro for Elasticsearch version: 1.11.0

### Tasks

- [x] Adapt to new versions (4.0.2 - 1.11.0)
- [x] Check templates and update them if needed
- [x] Tests
- [x] Update changelog
- [x] Tag: v4.0.2_1.11.0
- [x] Update documentation references
- [x] Draft release

[2020-11-23 07:43] Bilvani commented on #119
Thank you for answering to my question.
Do you have any material on how to make Filebeat or Logstash push Wazuh events to your AWS Elasticsearch domain

[2020-11-23 13:46] JPLachance commented on #119
Hello!

The Logstash Pipeline output looks like this:
[code]

And the authentications happens du to a mapping between the AWS IAM instance role of Logstash and a backend role in AWS Elasticsearch.

The Terraform code I used to build that mapping:
[code]

I hope this helps!

[2020-11-24 05:14] Bilvani commented on #119
Thanks a lot for responding.

[2020-11-24 09:52] Bilvani commented on #119
Regarding Elasticsearch service in aws, I created a Master user type: Internal user database( Gave master username and password)
but then im unable to specify the user to connect ES from Kibana.

I have tried
1. Using curl command
<img width="880" alt="Screenshot 2020-11-24 at 12 09 33 PM" src="https://user-images.githubusercontent.com/71020465/100077553-805d3280-2e68-11eb-8fae-3114fad2bde4.png">

[2020-11-24 10:56] xr09 opened #124 "Wazuh Kubernetes v4.0.1_1.11.0"
Wazuh version: 4.0.1
OpenDistro for Elasticsearch version: 1.11.0

### Tasks

- [x] Adapt to new versions (4.0.1 - 1.11.0)
- [x] Check templates and update them if needed
- [x] Tests
- [x] Update changelog
- [ ] Tag: v4.0.1_1.11.0
- [x] Update documentation references
- [ ] Draft release

[2020-11-24 13:08] #124 closed

[2020-11-24 13:52] JPLachance commented on #119
Hello!

For Kibana, I used the amazon/opendistro-for-elasticsearch-kibana Docker image. Chose the image with the version of Kibana that will fit both your Elasticsearch cluster version and wazuh-kibana-app version (that's the tricky part because most of the time, we cannot find a version of the wazuh-kibana-app for our AWS Elasticsearch domain version).

For the configuration, I created a Secret t

[2020-11-25 16:39] xr09 commented on #119
Thanks a lot for the help @JPLachance, we should create a specific page on the documentation for this use case.

Hope you got it solved with these tips @Bilvani, any other input will be appreciated.

[2020-11-25 16:56] #122 closed

[2020-11-26 05:41] Bilvani commented on #119
It was really helpful @xr09, Thanks a lot for providing the tips @JPLachance

[2020-11-26 10:42] xr09 commented on #119
I'll leave this issue open to track progress of the documentation for this use case. Thanks again both!

[2020-11-26 12:17] Bilvani commented on #119
I got this in kibana pod logs ( kibana image: amazon/opendistro-for-elasticsearch-kibana:1.11.0)
![](https://files.slack.com/files-pri/T02PDDGE2-F01FLCFSUUA/screenshot_2020-11-26_at_3.33.29_pm.png)

When i searched for it, they are stating that it will be resolved in ES 7.10 and closed the issue
![](https://files.slack.com/files-pri/T02PDDGE2-F01FSH9PWHJ/screenshot_2020-11-26_at_3.32.56_pm.png)

B

[2020-11-26 15:30] JPLachance commented on #119
Hello!

[2020-11-27 05:43] Bilvani commented on #119
Hey!

Will share for sure, So may i know which version of aws ES , amazon/opendistro-for-elasticsearch-kibana image u were using?

[2020-11-30 16:36] #116 closed

[2020-11-30 16:50] xr09 opened #127 "Wazuh Kubernetes v4.0.3_1.11.0"
Wazuh version: 4.0.3
OpenDistro for Elasticsearch version: 1.11.0

### Tasks

- [x] Adapt to new versions
- [x] Check templates and update them if needed
- [x] Tests
- [x] Update changelog
- [x] Tag: v4.0.3_1.11.0
- [x] Update documentation references
- [x] Draft release

[2020-11-30 17:58] #127 closed

[2020-12-01 11:13] Bilvani commented on #119
<img width="590" alt="Screenshot 2020-12-01 at 4 32 21 PM" src="https://user-images.githubusercontent.com/71020465/100732682-14904200-33f3-11eb-95b4-f3163a82579f.png">
As i have specified kibana index here and deployed the pod, I think the issue is because of specifying the kibana index

The error in the logs is:
<img width="1792" alt="Screenshot 2020-12-01 at 4 30 52 PM" src="https://user-images.

[2020-12-02 12:07] Bilvani commented on #119
When I'm making use of curl and specifying the username and password from kibana pod I was able to reach to ES

<img width="863" alt="Screenshot 2020-12-02 at 5 28 00 PM" src="https://user-images.githubusercontent.com/71020465/100870206-41605a00-34c4-11eb-93a7-638dd902fa39.png">

But when I'm trying to access Kibana UI, I'm unable to do so as I'm getting error in the logs as failed authentication.

[2020-12-02 14:44] konangc87 commented on #35
@jesuslinares, @Dwordcito
Another user asked when the support to monitor/collect info using an agent as a deamonset will be available.
Here's the slack link: https://wazuh.slack.com/archives/C0A933R8E/p1606837317137900
and the user question:
_"I launched a wazuh agent as daemonset in kubernetes.
If I understand correctly, then there is no way to collect information about the system’s packages/osts

[2020-12-02 15:57] JPLachance commented on #119
Greetings,

Kibana needs a custom ODFE role to work properly. Here is my Terraform code:
[code]

This code creates a role, creates a user, grants the role to the user.

I then took the user username and password and I placed them in the `/usr/share/kibana/config/kibana.yml` file I already shared in this thread.

Make sure your Kibana config file is mounted in the Kibana container and used by Kiban

[2020-12-03 07:42] Bilvani commented on #119
Thanks @JPLachance, Im able to access kibana UI.

My kibana configmap:

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kibana-config
  namespace: wazuh
data:
  kibana.yml: |
    ---
    # Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
    #
    # Licensed under the Apache License, Version 2.0 (the "License").
    # You may not use this file except in compliance with

[2020-12-03 07:46] Bilvani commented on #119
I'm confused on creating service account for kibana and logstash, can u help me out with it @JPLachance

[2020-12-03 08:35] danimegar opened #129 "Apply Wazuh tools name changing to the wazuh-kubernetes"
## Description
Hello team.

According to the changes proposed at wazuh/wazuh#6766, the following tools will be renamed or totally removed from new Wazuh installations.

- `ossec-control` -> `wazuh-control`
- `ossec-regex` -> `wazuh-regex`
- `rootcheck_control` -> Removed
- `syscheck_control` -> Removed
- `syscheck_update` -> Removed
- `ossec-logtest` -> Removed (it was replaced by `wazuh-logtest`)

[2020-12-03 12:27] Bilvani commented on #119
Could u let me know what are all the indexes and aliases that need to be created in Elasticsearch. @JPLachance

I actually tried adding indexes using wazuh documentation, it got acknowleged as true but then when I'm trying to view the indexes I'm unable to c the added wazuh indexes.

<img width="1240" alt="Screenshot 2020-12-03 at 5 54 57 PM" src="https://user-images.githubusercontent.com/71020465

[2020-12-03 14:16] BadgerOps opened #130 "Missing ODFE certs referenced in kustomize.yaml"
Hello,

I know that the master branch can have breaking changes, and currently the kustomize.yaml references non-existant certs under the certs/odfe directory - this was called out in issue 111, but I didn't think it right to re-open https://github.com/wazuh/wazuh-kubernetes/issues/111 to start this conversation. As of the latest comment there, it appears the decision was made to use a unified cer

[2020-12-03 14:41] JPLachance commented on #119
Hello!

I don't know how the Wazuh team are managing the Index template, but I use Terraform again:
[code]

The index template JSON file can be found here: https://github.com/wazuh/wazuh/blob/master/extensions/elasticsearch/7.x/wazuh-template.json

About the index pattern, I though this was created automatically... If it is not, simply follow [the Kibana documentation](https://www.elastic.co/guide

[2020-12-03 15:30] Bilvani commented on #119
Thanks a lot @JPLachance, Thanks for responding to my queries, Can u tell about creating service account for kibana and logstash?

Have a nice day!

[2020-12-03 16:14] xr09 commented on #130
Hello @BadgerOps,

You're right, I totally forgot to reference this approach on the docs. We don't include the certs by default to avoid bad practices on public deployments.

The script used to generate the certs was this one:

generate_certs.sh
[code]

[2020-12-03 17:15] xr09 commented on #129
Hey there @danimegar!

On this repository we're only referencing `ossec-control` as part of the documentation on the `ossec.conf` used for the managers, not as a direct command.

However on the `wazuh-docker` repository we're using it as a command more than once. A proper refactor will be required, I replicated this issue there: https://github.com/wazuh/wazuh-docker/issues/418

[2020-12-04 04:28] BadgerOps commented on #130
Thank you for adding that documentation, its greatly appreciated!

[2020-12-04 04:28] #130 closed

[2020-12-07 05:56] Bilvani commented on #119
Thanks a lot @JPLachance, Thanks for responding to my queries, Can u tell about creating service account for kibana and logstash?

Have a nice day!

[2020-12-07 12:36] Bilvani commented on #119
Can u give me ur deployment file(open-distro kibana deployment file), as I'm trying to make changes in order to change the permission(so it can create logs dir), I'm unable to do so. It would be really great if u could provide me the deployment file @JPLachance

<img width="1359" alt="Screenshot 2020-12-07 at 5 41 45 PM" src="https://user-images.githubusercontent.com/71020465/101351574-c7aae080-38

[2020-12-07 16:02] JPLachance commented on #119
Hello!

This is indeed an issue I faced. It is caused by the fact we try to run the Kibana container as non-root. By running as non-root, permissions in the optimize folder are not right.

A solution is to fix permissions using a Kubernetes init container:
[code]

Since I use a Kubernetes StatefulSet with a EBS for the kibana-optimize volume, this init container fixes the permissions and Wazuh can

[2020-12-08 11:07] Bilvani commented on #119
That was really helpful @JPLachance.
What did you do regarding Wazuh API Connection? and where did u provide wazuh api credentials?
It will be really helpful if u could provide me all the yml files.

[2020-12-09 09:10] Bilvani commented on #119
That was really helpful @JPLachance.
What did you do regarding Wazuh API Connection? and where did u provide wazuh api credentials?

I was trying to add them in this path
/usr/share/kibana/optimize/wazuh/config/wazuh.yml

wazuh.yml:
hosts:
- default:
url: https://wazuh
port: 55000
username: wazuh
password: wazuh
run_as: false

It will be really helpful if u could provide me all the deployment yaml

[2020-12-10 12:45] omgraae opened #133 "Wazuh configuration assumes cluster FQDN"
Wazuh configurations assume wrong FQDN for Wazuh master. - If a default cluster FQDN is not used in kubernetes.

Following portion should be change from:

[code]

to

[code]
In the following files:
`wazuh-kubernetes/wazuh_managers/wazuh_conf/worker.conf`
`wazuh-kubernetes/wazuh_managers/wazuh_conf/master.conf`

[2020-12-11 21:59] JPLachance commented on #119
Hello!

Sorry for the late reply, I'm quite busy!

I have the following in the wazuh.yml file:
[code]

Basically, the Wazuh manager API is behind an AWS Elastic Load Balancer. That load balancer is behind an AWS Route 53 entry, so I've a clean URL to reach the Wazuh API.

What you need there will depend a lot on how you configured your [Wazuh Kubernetes Service](https://github.com/wazuh/wazuh-kube

[2020-12-14 13:42] xr09 commented on #119
This was a great source of information, thanks again @JPLachance for your help here, I'll use this as a base for the future docs on this use case.

@Bilvani I'm marking this issue as closed, if you have any other questions feel free to use our community channel on Slack or the mailing list, perhaps someone else has first hand experience with your requirements:

- https://wazuh.com/community/join-u

[2020-12-14 13:42] #119 closed

[2020-12-14 13:48] Bilvani commented on #119
Thanks a lot @JPLachance. You can close this issue @xr09

[2020-12-14 17:08] TomasTurina opened #134 "Apply Wazuh daemons name changing to wazuh-kubernetes"
## Description
Hello team.

According to the changes proposed at wazuh/wazuh#6741, the following daemons will be renamed or totally removed from new Wazuh installations.

- Unix:
  - `ossec-agentd` -> `wazuh-agentd`
  - `ossec-agentlessd` -> `wazuh-agentlessd`
  - `ossec-analysisd` -> `wazuh-analysisd`
  - `ossec-authd` -> `wazuh-authd`
  - `ossec-csyslogd` -> `wazuh-csyslogd`
  - `ossec-dbd` -> `

[2020-12-14 17:28] xr09 commented on #134
Duplicate of #129?

[2020-12-15 06:31] anjuls commented on #96
I did some work around this, the installer installs the agent on the nodes where the pod is running via daemonset. Please provide your feedback.

https://github.com/anjuls/wazuh-agent-kubernetes

[2020-12-17 08:33] xr09 commented on #134
Fixed by #136

[2020-12-17 08:33] #134 closed

[2020-12-17 16:53] xr09 commented on #133
Hi @omgraae, good catch, thanks for reporting!

[2020-12-18 08:11] #133 closed

[2020-12-18 08:13] xr09 commented on #129
Fixed by #136

[2020-12-18 08:13] #129 closed

[2020-12-24 11:38] manisha-tanwar opened #138 "Helm chart to install Wazuh"
Hi Team,

Is there any existing helm charts to install wazuh. I found this [https://github.com/GoVanguard/wazuh-helm](https://github.com/GoVanguard/wazuh-helm )but doesn't look like anyone used it.

[2021-01-08 12:57] xr09 opened #139 "Create variants for production and local development"
## Description

Since we're using [kustomize](https://github.com/kubernetes-sigs/kustomize/) to simplify the usage of this repo, we could take advtange of the [overlay](https://kubectl.docs.kubernetes.io/references/kustomize/glossary/#overlay) feature to create [variants](https://github.com/kubernetes-sigs/kustomize/#2-create-variants-using-overlays) for different scenarios.

My proposal is to cre

[2021-01-11 17:29] xr09 commented on #139
The proposed structure is a base application directory `wazuh` and the `envs` directory with each variant.

![Screenshot_20210111_182647](https://user-images.githubusercontent.com/1380243/104216626-9637ae80-543a-11eb-916c-0e10b48abdd3.png)

[2021-01-18 17:42] xr09 commented on #139
# Current project structure

[code]

Right now the base project lies on the wazuh directory, there are two overlays `eks` and `local-env` which contains patches for the base definitions to adapt its behavior for the specific environment.

## Deploy on EKS

For an EKS environment the storage class is redefined and the base resources are increased.

### Resources for Elastic Nodes

[code]

### Resou

[2021-01-19 17:46] #139 closed

[2021-01-25 13:43] xr09 commented on #138
Hi there @manisha-tanwar, we don't have a Helm chart just now but we just refactored the master branch using Kustomization's overlay feature to create two variants: `eks` and `local-env`, you can customize each variant with your own values.

What's your use case specifically?

[2021-01-26 09:35] kajov opened #144 "Elasticsearch OOMKilled constantly due to security configuration"
Good day I followed thrue whole [local-environment](https://github.com/wazuh/wazuh-kubernetes/blob/master/local-environment.md) setup process, but whenever deployment is done elasticsearch stateful set is crashing due to this error:
```/usr/share/elasticsearch/config/elasticsearch.yml seems to be already configured for Security. Quit.```

I did some digging on elastic search and this error popped

[2021-01-26 14:27] xr09 commented on #144
Hi @kajov!

I see the user you mention on that thread opened an issue and this PR was created to fix it.

https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/58/files

Looks like you have to define the env var `DISABLE_INSTALL_DEMO_CONFIG` with value `true`.

What's your local environment? Minikube, Microk8s? Resources?

[2021-01-26 14:39] kajov commented on #144
HI @xr09 I am using minikube env. I just did passed env var in statefulset and it is returning the same error.

resources on minikube are as follows
``` 6 CPU, Memory 16GB, Storage 150GB, driver virtualbox, kubernetes version 1.15.9```

[2021-01-26 14:45] kajov commented on #144
Just to give some sense of what do I see in the logs:

[code]

this is statefulset yaml from minikube environment
[code]

[2021-01-28 16:53] xr09 opened #145 "Disable install demo config"
While debugging #144 just sumbled upon the existence of the variable `DISABLE_INSTALL_DEMO_CONFIG` to prevent the demo configuration script for the security plugin from running.

Without this the elasticsearch container attempts to run it and backs off. By setting this to true the logs will be free from this unnecessary output.

[2021-01-29 16:53] #145 closed

[2021-02-01 13:44] kajov commented on #144
I am not sure if it was #145 update that fixed or change on kubernetes environment.

Current minikube k8s env.
```CPU 6, Memory 16GB, Driver virtualbox, disk 40Gi, kubernetes version 1.15.7```

I did minimal customization to deployment and created a storage class default (that I replicate it in AWS env)
[code]

[2021-02-01 15:16] xr09 commented on #144
Glad to know, closing this issue as solved!

[2021-02-01 15:16] #144 closed

[2021-02-03 11:21] kajov commented on #138
@xe09 to fill in on use cae why to request helm chart.
 "Kustomize is built into the kubectl command is more like a feature. You use kustomization.yaml files to glue things together. Helm is a full package manager tool that also builds YAML files. Helm uses templating logic. Kubes allows for both YAML merging and templating. It provides additional conveniences like building the Docker image"
 [Sou

[2021-02-04 15:12] pereyra-m opened #148 "Wazuh v5: Core changes"
### Description

Hi team!

This a tracking issue, meant to enumerate all the changes done in the **wazuh/wazuh** repository by the Core team for `v5.0.0`.
These changes need to be considered for Wazuh 5.0 release.

**Note**: Some of them, are breaking changes.

Regards.

### Items list

- **Ruleset normalization**: all the references to _ossec_ were updated in decoders and rules (epic: wazuh/wazuh

[2021-02-04 17:25] manisha-tanwar commented on #138
@xr09 I'm new to Kubernetes and helm charts are easy to install. I've never installed Wazuh before & was thinking to install it on K8 directly.
@kajov Thanks I'll wait 👍

[2021-02-08 10:40] #89 closed

[2021-02-12 13:44] xr09 commented on #52
Hi there @JPLachance !

I know this is old but I've been working on this front lately and I think I have a few ideas to share.

Recently we implemented image validation on Github Actions with a tool called [Goss](https://github.com/aelsabbahy/goss) which is a ServerSpec alternative implemented in Go (no deps, really fast and easy to use). The [relevant issue](https://github.com/wazuh/wazuh-docker/

[2021-02-12 13:53] JPLachance commented on #52
Hi @xr09,

This is definitely better than my hackish Python script :D

Good job ;)

[2021-02-12 14:09] xr09 commented on #52
Thanks! I'll proceed to add it to Docker and then I'll create a PR here, this should be out on the next release.

[2021-02-14 03:27] pyToshka commented on #35
You can check my example of daemon set for agent
https://github.com/pyToshka/docker-wazuh-agent/blob/main/wazuh-daemonset.yaml

[2021-02-15 11:46] kajov commented on #138
@manisha-tanwar just notifying you that I started working on the [helm chart](https://github.com/kajov/wazuh-kubernetes-helmchart)

[2021-02-18 12:54] xr09 commented on #52
Starting with v4.1.0 the images have `goss` bundled in, it is possible to use it for these checks.

[2021-03-10 17:24] TomasTurina opened #153 "Rename ossec.conf to manager.conf and agent.conf in Kubernetes"
The purpose of this issue is to rename `ossec.conf` in Wazuh Kubernetes according to https://github.com/wazuh/wazuh/issues/7787:

- **Agent configuration**: All settings related to Wazuh Agent will be located at `agent.conf`. Blocks:
  - `<active-response>` (client side)
  - `<agent-upgrade>` (client side)
  - `<client>`
  - `<client_buffer>`
  - `<fluent-forward>`
  - `<gcp-pubsub>`
  - `<labels>

[2021-03-18 11:14] gianlorenzop opened #154 "Unable to change secret values for elasticsearch/api credentials in kustomize"
Hi, I have always this error indicating an error in a sed during the init phase that prevents filebeat and ossec to take the updated credentials and apply them to the configurations, i tested version 4.0.4 and 4.1.1 both have the same errors. The credentials have no special characters and I tested also a redeployment from scratch. Only the default credentials in the secrets seems to work properly.

[2021-03-26 08:42] okhuz commented on #154
Hit the same issue today. In wazuh/elastic_stack/elasticsearch/elastic_conf/internal_users.yml do we need to change the hash values?

[2021-03-27 11:35] gianlorenzop commented on #154
Changing them in the mentioned file using the elastic embedded system seems
to work for me, but I'm absolutely unable to change the cluster key,
without the default one everything stucks

Il giorno ven 26 mar 2021 alle ore 09:42 Hamza Oral <
***@***.***> ha scritto:

--
*Gian Lorenzo Pontrandolfi*

*Tel.* +393314001334
*E-mail: ***@***.***
*Fax: *+391782224293

[2021-03-30 12:14] okhuz commented on #154
Hi @gianlorenzop, use the following command for getting base64 conversion.
[code]

[2021-04-21 12:23] francobep opened #156 "Admin certificate subject error"
Hi team!

Trying to use the admin certificate to authenticate to Elasticsearch, I get the following error:
[code]
I have reviewed the script for the creation of the certificates, and I see that this line is the wrong one:
https://github.com/wazuh/wazuh-kubernetes/blob/381a08e569bf2acfd2ce1bc5a619021eb80bc0b2/wazuh/certs/odfe_cluster/generate_certs.sh#L24

[2021-04-22 09:27] francobep opened #157 "Wrong value from ELASTICSEARCH_URL environment variable"
Hi team!

The variable ELASTICSEARCH_URL in the kibana-deploy.yaml is wrong.

The Elastic service is named "elasticsearch".
https://github.com/wazuh/wazuh-kubernetes/blob/381a08e569bf2acfd2ce1bc5a619021eb80bc0b2/wazuh/elastic_stack/kibana/kibana-deploy.yaml#L51

https://github.com/wazuh/wazuh-kubernetes/blob/381a08e569bf2acfd2ce1bc5a619021eb80bc0b2/wazuh/elastic_stack/elasticsearch/cluster/elastic

[2021-04-23 16:44] brunobcestari opened #158 "Kustomize error: No matches for wazuh-elasticsearch and wazuh-manager-worker"
I was trying to install Wazuh as a local deployment using minikube following the instructions in https://documentation.wazuh.com/current/deploying-with-kubernetes/kubernetes-local-env.html.
After `$ kubectl apply -k envs/local-env/` I got the following error:

`error: no matches for IdId apps_v1_StatefulSet|~X|wazuh-elasticsearch; failed to find unique target for patch apps_v1_StatefulSet|wazuh-el

[2021-04-29 13:16] Shahard2 opened #159 "Issue with kibana_http/generate_certs.sh"
After running it getting the next error:

Logs:

Generating a 2048 bit RSA private key
................................+++
..............................................................................................+++
writing new private key to 'key.pem'
-----
error, no objects specified in config file
problems making Certificate Request

[2021-05-13 13:07] #45 closed

[2021-05-18 19:54] #153 closed

[2021-05-18 19:57] alberpilot opened #161 "[wazuh-kubernetes] Adapt the repository to the wazuh/wazuh repository branching model"
# Goal
According to the wazuh/wazuh branching model, we need to update this repository with the same model, including readme clarifications.

# Tasks
- [x] Merge 4.1 branch into stable. Include README clarification about the master and stable branches.
- [ ] Bump master to 4.3.0. Include README clarification about the master and stable branches.

[2021-05-18 20:04] alberpilot opened #162 "[wazuh-kubernetes] Update v4.1.5 with Opendistro 1.13.2"
# Goal
According to our latest packages release and wazuh docker images release, we need to update the repository for using those images.

# Tasks
- [x] v4.1.5 bump version.
- [x] Modify the repository to bump to 1.13.2 Opendistro version. Take into account the file: `wazuh/elastic_stack/elasticsearch/cluster/elasticsearch-sts.yaml`.
- [x] v4.1.5 tag.
- [x] Merge into `stable` branch.

[2021-05-26 09:33] #161 closed

[2021-05-26 10:16] #162 closed

[2021-05-26 11:18] okynos commented on #158
Closed.

[2021-05-26 11:18] #158 closed

[2021-06-02 11:35] raul-gherman-modaoperandi commented on #159
encountered the same
my workaround was (this is the actual content of the file):

[code]

[2021-06-02 11:40] raul-gherman-modaoperandi opened #165 "Wazuh helm deployment fails because wazuh image tag is wrong"
long story short:
helm references had to be downgraded from v4.3.0 to `image: wazuh/wazuh-odfe:4.1.5` and `image: "wazuh/wazuh-kibana-odfe:4.1.5`
last release is indeed v4.3.0, but apparently docker images were not published to dockerhub just yet

P.S.
the same is true for `docker-compose` file, following adapted version of it:

[code]

[2021-06-14 20:46] alberpilot commented on #165
Hello @raul-gherman-modaoperandi

  Sorry for the inconvenience, but as discussed here: https://github.com/wazuh/wazuh-docker/issues/481, due to a new company policy, the master branch will contain the latest next version changes. We indicate it here: https://github.com/wazuh/wazuh-kubernetes#branches, in the main readme.

I would recommend you to use stable or checking out to the desired tag.

So

[2021-06-14 22:34] rohans175 opened #166 "wazuh steps for deploying load balancers for master and worker creates classic ELBs instead of NLB"
Reviewing the steps and having tried out the configuration at our end, i see the sts files for master and server are configured to create a Classic ELB instead of an NLB. I read somewhere in the wazuh docs that only NLB can be used since the communication happens over tcp protocol. Did i miss a configmap somewhere? Please review and let us know, we are having issues related to master - agent commu

[2021-06-17 18:44] rohans175 commented on #166
Closing this issue. Communication needs to be tcp, the load balancers can be classic ELBs.

[2021-06-17 18:44] #166 closed

[2021-06-23 02:30] vishnudxb opened #167 "Kibana deployment failure"
I am getting an error when deploying kibana (Image: wazuh/wazuh-kibana-odfe:4.1.5). Looks like a bug in the Kibana API ?

[code]

[2021-06-25 17:41] Falconx1000 opened #168 "Kustomize Storage Class Rework"
I think creating a storage class inside the kustomize template is confusing and unnecessary. Most clusters will have their own storage class already configured. In my case I run a local kubernetes cluster using rook (Ceph) for my storage.
IMHO I think it makes more sense to have the storage classes handled separately outside of the kustomize setup and set a default storage class in kustomize. Have

[2021-07-26 15:05] nnachefski opened #169 "Default wazuh dash username/password not documented"
If someone was to deploy this stack using the local-env template, what is the default username/password?

[2021-07-27 02:59] trigat commented on #169
Default credentials are under https://github.com/wazuh/wazuh-kubernetes/tree/master/wazuh/secrets

For example, admin:SecretPassword

[2021-07-27 03:22] trigat opened #170 "Cannot reset passwords."
I've been looking at guides and it looks like it's not possible to reset the 'kibanaserver' password with the current setup of the wazuh-kibana deployment @ kibana-deploy.yaml.

There is no persistent volume specified.  Documentation shows that after updating internal_users.yml, you have to update the filebeat.yml and kibana.yml files.  Since the kibana.yml file is in a deployment without a persis

[2021-07-29 05:10] yehaotong commented on #165
I also doing helm for wazuh,can I get your wazuh helm project for example ?thanks

[2021-08-06 17:45] bloodberrys commented on #159
I have the same problem with macOS big sur, my workaround is adding -subj "/" in OpenSSL command.

[code]

Ref: https://github.com/openssl/openssl/issues/3536#issuecomment-519937297

[2021-08-19 07:10] cakhanif commented on #35
Hi @pyToshka , is this work?

[2021-08-19 07:46] pyToshka commented on #35
@cakhanif yes it is

[2021-08-24 22:16] maumrsms opened #171 "Dockerfile to deploy Wazuh Agent in Windows Kubernetes nodes"
Hello team,

We got a `Feature request` asking for a Wazuh Agent dockerfile for Windows Kubernetes Nodes.

[2021-08-31 10:06] DFolchA opened #172 "Release v4.2.0 Kubernetes Epic"
Release issue for Wazuh Kubernetes v4.2.0.

### Tasks

- [x] #173
- [x] #174
- [x] #175
- [x] #176

[2021-08-31 10:06] DFolchA opened #173 "Merge Latest changes into 4.2.0"
It is necessary to make sure the latest changes have been included in 4.2.0 before releasing.

[2021-08-31 10:06] DFolchA opened #174 "Test 4.2 Branch"
It is necessary to make test the 4.2 branch before releasing v4.2.0.

[2021-08-31 10:06] DFolchA opened #175 "Create 4.2.0 tag"
It is necessary to create the v4.2.0 tag.

[2021-08-31 10:06] DFolchA opened #176 "Draft release"

[2021-09-01 15:19] DFolchA commented on #173
Created branch https://github.com/wazuh/wazuh-kubernetes/tree/update-4.2, with the latest changes and some fixes.

[2021-09-01 15:26] DFolchA commented on #174
## Update

Tested branch https://github.com/wazuh/wazuh-kubernetes/tree/update-4.2

Deployed wazuh-kubernetes in EKS cluster.

[code]

Encountered problem connecting with Kibana UI, currently investigating.

[2021-09-06 18:02] MiguelazoDS opened #177 "Update references to deprecated authd options and consider the new ones."
As part of epic [#9550](https://github.com/wazuh/wazuh/issues/9550) it is required to add new configuration options to the authd module to decide what actions should be taken during an agent replacement. That being said, it is required to modify the following .conf files considering the new configuration block and the deprecated options.

[code]
- wazuh/wazuh_managers/wazuh_conf/worker.conf
- wazu

[2021-09-07 14:53] DFolchA commented on #173
Merged latestchanges and fixed errors in https://github.com/wazuh/wazuh-kubernetes/pull/178.

[2021-09-07 14:53] #173 closed

[2021-09-07 14:57] DFolchA commented on #174
## Update

Finished testing:
- [ ] All pods running.
- [ ] All services running.
- [ ] Agent connection to manager
- [ ] Connection to Kibana.

[2021-09-07 14:57] #174 closed

[2021-09-07 14:58] DFolchA commented on #175
## Update

Tag created: https://github.com/wazuh/wazuh-kubernetes/tree/v4.2.0

[2021-09-07 14:58] #175 closed

[2021-09-07 15:02] DFolchA commented on #176
## Update

Created GitHub release https://github.com/wazuh/wazuh-kubernetes/releases/tag/v4.2.0

[2021-09-07 16:28] #172 closed

[2021-09-08 15:26] DFolchA opened #179 "Use external loadbalancer in wazuh-workers"
All of the loadbalancers implemented by the EKS environment except for the Wazuh workers are external, allowing machines outside the VPC to access them.

This creates a situation where we can register agents from outside the VPC  but those agents are not able to connect to the cluster. We should set this loadbalancer as an external one too by modifying this line:

https://github.com/wazuh/wazuh-ku

[2021-09-08 17:44] alberpilot opened #180 "Release v4.2.1 Kubernetes"
- [x] Merge Latest changes into 4.2.0
- [x] Test 4.2 Branch
- [x] Create 4.2.0 tag
- [x] Draft release

[2021-09-08 21:16] teddytpc1 commented on #180
I have been analyzing the repository to understand the manifests. Tomorrow I will deploy Wazuh 4.2.0 then make the required changes for 4.2.1 and test that version as well when the docker images are available.

[2021-09-09 20:41] teddytpc1 commented on #180
I have updated the repository to use Wazuh 4.2.1 instead of 4.2.0.
I was not able to test the deployment because the docker images are not available in docker hub yet.

[2021-09-10 20:27] teddytpc1 commented on #180
Docker images are not ready yet. We have had some issues when testing the docker compose deployment.

[2021-09-13 20:26] teddytpc1 commented on #180
We were unable to push the images with the Wazuh account so @vcerenu pushed them to his DockerHub account in order to test the K8s deployment.
I created a new cluster and deployed the Wazuh stack successfuly. Had to open Kibana console with Firefox because with Chrome I had the following message:
![Screenshot from 2021-09-13 17-09-47](https://user-images.githubusercontent.com/33964202/133149686-61

[2021-09-14 12:43] teddytpc1 commented on #180
I was able to test the deployment with the images pushed with the correct tag and everything worked fine.
I will continue with the merge and tag creation.

[2021-09-14 12:44] teddytpc1 commented on #180
I was able to test the deployment with the images pushed with the correct tag and everything worked fine.
I will continue with the merge and tag creation.

[2021-09-14 12:44] teddytpc1 commented on #180
I was able to test the deployment with the images pushed with the correct tag and everything worked fine.
I will continue with the merge and tag creation.

[2021-09-14 15:00] teddytpc1 commented on #180
I have already created the tag and the draft release.

[2021-09-14 15:00] teddytpc1 commented on #180
I have already created the tag and the draft release.

[2021-09-14 15:02] alberpilot commented on #180
Completed. Thanks

[2021-09-14 15:02] #180 closed

[2021-09-14 15:30] teddytpc1 opened #182 "Pre-Release v4.2.2 Kubernetes"
- [x] Bump PR from release branch to 4.2
- [x] Test 4.2 branch

[2021-09-14 15:30] teddytpc1 opened #183 "Pre-Release v4.2.2 Kubernetes"
- [x] Bump PR from release branch to 4.2
- [x] Test 4.2 branch

[2021-09-14 15:31] teddytpc1 opened #184 "Release v4.2.2 Kubernetes"
- [x] Create 4.2.2 tag
- [x] Create draft release
- [x] Publish draft release
- [x] Merge 4.2 into stable
- [ ] Merge 4.2 into master

[2021-09-14 19:15] teddytpc1 commented on #183
I have tested v4.2.2 with the images @vcerenu pushed with tags wazuh/wazuh-kibana-odfe:4.2.2-dev and wazuh/wazuh-odfe:4.2.2-dev. It worked fine.
Here is some evidence:
`kubectl get deployments -n wazuh`
||||||
|--|--|--|--|--|
|NAME           |READY   |UP-TO-DATE   |AVAILABLE   |AGE|
|wazuh-kibana   |1/1     |1            |1           |23h|

`kubectl get services -n wazuh`
||||||
|--|--|--|--|--|

[2021-09-14 20:39] teddytpc1 commented on #183
I have created the PR to merge 183-release-v4.2.2 into 4.2.

[2021-09-15 13:26] Umair841 commented on #35
hey guys ..!! I have deployed Wazuh DemonSet and it is successfully working ..!!
but in my manager alerts, I am getting only events/logs for Start/stop and exec logs ..!!
how can I get every bit of log of container for example "installing any package or executing any command in container"
here My WazuhDemonSet file

apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: wazuh-daemonset
  namespace:

[2021-09-15 21:09] teddytpc1 commented on #184
I have created the tag and draft release for this version.

[2021-09-16 06:56] #183 closed

[2021-09-16 10:34] #182 closed

[2021-09-20 20:07] alberpilot commented on #169
Let me close this issue. Please don't hesitate to re-open if needed.

[2021-09-20 20:07] #169 closed

[2021-09-21 19:54] teddytpc1 commented on #170
The scenario has been tested, the Kibana deployment does not persist the changes as expected.
Some options where tested:
- Add PV and PVC objects.
- Configure Kibana deployment to use that PV and mount it in /usr/share/kibana
This approach has a conflict with the volumes mounted for the certificates because of the mount path.
To solve that issue a configMap must be created (along with a kibana.yml

[2021-09-22 08:35] khasim4A2 commented on #62
Hi @shrivastavshubham34 , i'm facing the same issue with my wazuh deployment on kubernetes. Can you please help me to replace service with loadbalancer type to use the ingress controller here. I have been trying for this solution since long but not able to find. It's really helpful for me if you can share your experience in detailed here.

[2021-09-22 08:54] khasim4A2 opened #186 "wazuh deployment on kubernetes with ingress controller."
Hi, here in this repository wazuh-kubernetes, its given like to deploy all the services with loadbalancer type. But i'm looking to use my ingress controller instead of individual load balancer for each service. Can some one please help me how can i achieve that. Facing 502 bad gate way if i'm routing the traffic with ingress controller.

[2021-09-22 09:39] khasim4A2 commented on #85
hey hi @pchristos ,  i'm trying for the same, deploying wazuh on kubernetes with service clusterip + ingress. can you please share the details how you have configured the same.

[2021-09-24 14:13] c-bordon commented on #186
Hi Khasim, I have been reviewing your issue and I think it is an improvement that we can apply to our repository, we are going to add it to our backlog to work on it in the future.

In the meantime, I can suggest the following:
I'm going to assume that you are working in AWS with a EKS cluster:
You mentioned that you already have an ingress controller, so what you should do is modify the services:

[2021-09-24 15:35] teddytpc1 commented on #170
Hi @trigat ,
An alternative for the `PV` for the Kibana deployment is to use a `ConfigMap` in order to provide the `kibana.yml` to de Kibana Pod. With this approach the `sed` command to update the password for Kibana should be executed with the `kibana.yml` located in the `wazuh-kubernetes` repository. For example:
`sed -i 's/password: kibanaserver/password: NEWPASS/g' wazuh/elastic_stack/kibana/k

[2021-09-29 15:04] teddytpc1 commented on #184
PR to merge changes into stable was created:
#187

[2021-09-30 11:11] #184 closed

[2021-09-30 17:54] c-bordon opened #189 "Issue on local deployment"
I was doing some tests of the local deployment with Minikube and I found some issues:

1) the amount of resources required is below what is necessary:
https://documentation.wazuh.com/current/deploying-with-kubernetes/kubernetes-local-env.html#resource-requirements
According to my tests, at least 10 GB of Memory and 8 CPUS are needed

2) Modify the amount of resource limit for Elasticsearch pods:
c

[2021-10-04 08:50] St4n opened #190 "Personalize worker name"
Hello,

When deploying the statefullset of workers, each worker has a name in the kubernetes cluster.

In the configmap for configuring the worker, there is a section for configuring cluster where we need to put the node_name :

node_name to_be_replaced_by_hostname node_name

But we cannot specify a configmap for each worker node, so each worker will have the same node_name in the cluster.

We use

[2021-10-05 12:58] vcerenu opened #191 "Pre-Release v4.2.3 Kubernetes"
- [x] Bump PR from release branch to 4.2
- [x] Test 4.2 branch

[2021-10-05 12:59] vcerenu opened #192 "Release v4.2.3 Kubernetes"
- [x] Create 4.2.3 tag
- [x] Create draft release
- [x] Publish draft release
- [ ] Merge 4.2 into stable
- [ ] Merge 4.2 into master

[2021-10-05 15:30] teddytpc1 commented on #191
Branch `191-prerelease-4.2.3` is created and changes were pushed. This will be tested when Docker images are available.

[2021-10-05 22:13] sanjayab opened #193 "Single Load Balancer for Wazuh Kubenetes Deployment"
Hi Wazuh Team,
With the current version, when Wazuh is deployed on AWS EKS, 4 load balancers are created.
This increases the cost of infrastructure.
And, we can easily manage the connections to 4 services (Kibana/ API/ agent registrations/ agent events) with a single load balancer using listeners and target groups.

It'll be better if you can release a version that over come this.
Possible options

[2021-10-06 19:31] teddytpc1 commented on #191
This was tested in EKS. Everything worked fine.

Pods Status:
||||||
|-|-|-|-|-|
|NAME                            |READY   |STATUS    |RESTARTS|   AGE|
|wazuh-elasticsearch-0           |1/1     |Running   |0       |   75m|
|wazuh-elasticsearch-1           |1/1     |Running   |0       |   74m|
|wazuh-elasticsearch-2           |1/1     |Running   |0       |   73m|
|wazuh-kibana-6968548d58-m7297   |1

[2021-10-08 10:47] #192 closed

[2021-10-14 12:51] vcerenu opened #197 "Pre-Release v4.2.4 Kubernetes"
- [x] Bump PR from release branch to 4.2
- [x] Test 4.2 branch

[2021-10-14 12:53] vcerenu opened #198 "Release v4.2.4 Kubernetes"
- [x] Create 4.2.4 tag
- [x] Create draft release
- [x] Publish draft release
- [x] Merge 4.2 into stable
- [x] Merge 4.2 into master
- [x] Update version in wazuh/wazuh-documentary

[2021-10-15 20:05] teddytpc1 commented on #190
Hi @St4n,
The `node_name` is configured dynamically when the container starts. This is done by a `sed` command configured in an init script of the Wazuh Docker image. Please check the following file in the `wazuh-docker` repository.
- https://github.com/wazuh/wazuh-docker/blob/master/wazuh-odfe/config/etc/cont-init.d/0-wazuh-init (line 150)

The is no need to configure a variable as the init scrip

[2021-10-19 14:47] teddytpc1 commented on #197
The environment was deployed successfuly. All pods are running with the 4.2.4 Docker Image and Kibana is accesible:
![Screenshot from 2021-10-19 11-45-51](https://user-images.githubusercontent.com/33964202/137934548-149d9f09-dfaa-41fe-8e1d-6d7f3907fd06.png)

[2021-10-20 04:27] St4n commented on #190
Hi @teddytpc1,
Absolutely, I didn't figure that there was an init container modifying required parameters.
You can close the ticket.

[2021-10-21 12:06] #197 closed, assigned to teddytpc1

[2021-10-21 17:23] #198 closed, assigned to teddytpc1

[2021-11-08 11:06] teddytpc1 commented on #165
Hi @raul-gherman-modaoperandi,
Please let us know if you were able to deploy the environment with @alberpilot 's recommendations.
@yehaotong Wazuh does not have a Helm project to deploy the required software. Is up to @raul-gherman-modaoperandi to share it with you if he wants.
Feel free to report any new issues with Wazuh deployment.
Thanks.

[2021-11-10 18:04] teddytpc1 commented on #167
Hi @vishnudxb.
Would you tell me if you were able to resolve this issue?
In case you were not please let me know:
- The documentation and steps you used to deploy Wazuh in K8s.
- How did you generate the certificates? There are two script to create certificates (`wazuh/certs/odfe_cluster/generate_certs.sh` and `wazuh/certs/kibana_http/generate_certs.sh`), did you use them? If not, please try gener

[2021-11-10 18:05] matthew-williams commented on #154
The only one I get stuck on is `elastic-cred` I can change all the others if I encode them, but the 'elastic-cred` is the only one I am unable to change from default SecretPassword value.

[2021-11-12 08:55] #190 closed

[2021-11-12 08:55] alberpilot commented on #186
I proceed to close this issue due to inactivity. Please don't hesitate to re-open again if necessary.

[2021-11-12 08:55] #186 closed

[2021-11-12 09:00] alberpilot commented on #170
I proceed to close this issue due to inactivity. Please don't hesitate to open it again if necessary.

[2021-11-12 09:00] #170 closed

[2021-11-12 09:02] alberpilot commented on #52
I proceed to close this issue due to inactivity. Please don't hesitate to open it again if necessary.

[2021-11-12 09:02] #52 closed

[2021-11-12 09:49] asteven commented on #154
For successfully changing `elastic-cred` you have to:
Change the password in the secret,  e.g. using a kustomize patch like:

[code]

Then you also have to change the password hash for the admin user in:
./wazuh/elastic_stack/elasticsearch/elastic_conf/internal_users.yml

using a hash created by:
[code]

Then after redeploying everything from scratch it worked for me.

[2021-11-12 15:36] c-bordon commented on #168
Hello Falconx1000, at the moment we have the repository adapted to be deployed in AWS using the EBS storage class, and locally with microk8s, we consider adding the storage class in kustomize to make it more descriptive.
I consider that your contribution is valid, we are going to keep the issue to be included in our backlog and carry out tests and modify if necessary our repository with your contr

[2021-11-15 12:33] vcerenu opened #202 "Pre-Release v4.2.5 Kubernetes"
- [x] Bump PR from release branch to 4.2
  - [x] Test 4.2 branch

[2021-11-15 12:34] vcerenu opened #203 "Release v4.2.5 Kubernetes"
- [x] Create 4.2.5 tag
  - [x] Create draft release
  - [x] Publish draft release
  - [x] Merge 4.2 into stable
  - [x] Merge 4.2 into master
  - [ ] Update version in wazuh/wazuh-documentary

[2021-11-16 14:24] vcerenu commented on #202
Environment deploy test was performed in EKS
![image](https://user-images.githubusercontent.com/56500015/142002977-338bd292-edfd-48fc-b1c5-0c2e8e413115.png)

[2021-11-16 14:25] #202 closed

[2021-11-17 11:39] #177 closed

[2021-11-18 18:06] #203 closed

[2021-11-23 11:11] victor-fialkin-deltatre commented on #73
Have the same issue in Docker randomly. Restarting Kibana container helps

[2021-11-24 10:28] nicop311 commented on #189
Hello, I was doing some tests as well on the Kubernetes KinD distribution and **I confirm the amount of resource suggested in the "local-env doc" was not enough for me**. Indeed my pod `wazuh-elasticsearch-0` was not running and was in `crashloopbackoff`.

## Details to reproduce

1. I follow the Wazuh Doc v4.2: [Deployment on local environment](https://documentation.wazuh.com/current/deploying-wi

[2021-11-24 14:25] mandeeps13k opened #209 "Issue with local minikube deployment"
I'm getting the following error on executing `kubectl apply -k envs/local-env/`

Error :

[code]

Can you please check what could be the reason for it and how we can debug it ?

[2021-11-30 14:08] #165 closed

[2021-12-01 15:00] teddytpc1 opened #210 "Pre Release v4.3.0 Kubernetes"
- [x] Bump PR from release branch to 4.3
  - [x] Test 4.3 branch

[2021-12-01 15:01] teddytpc1 opened #211 "Release v4.3.0 Kubernetes"
- [x] Create 4.3.0 tag
  - [x] Create draft release
  - [x] Publish draft release
  - [ ] Merge 4.3 into stable
  - [ ] Merge 4.3 into master
  - [x] Update version in wazuh/wazuh-documentary

[2021-12-03 12:25] teddytpc1 commented on #209
Hi @mandeeps13k.
I was not able to reproduce the issue. I assume you are using the [local-environment.md](https://github.com/wazuh/wazuh-kubernetes/blob/v4.2.5/local-environment.md) guide to deploy Wazuh.
I did not find the following block in the repository (it looks like this block should be in the `envs/local-env/kustomization.yml` file) :

[code]

Would you provide the following information ple

[2021-12-06 16:19] nicop311 opened #212 "Kubernetes local deployment and Kubernetes Ingress"
Hello, do you have any material (documentation or examples) on how to expose the wazuh-server API thanks to the Kubernetes Ingress (in the context of a Kubernetes local deployment)?

I provide far more details in this following Issue on the "wazuh-documentation" github, please read the following issue.
https://github.com/wazuh/wazuh-documentation/issues/4656

In general, I found that there is a la

[2021-12-06 18:48] teddytpc1 commented on #210
This was tested for 4.3.0-RC1. It works fine.

[2021-12-15 19:08] teddytpc1 commented on #210
The log4j fix was tested and it is working fine.

[2021-12-17 15:47] abelb01 opened #214 "Log4J vulnerability"
The fix provided for the Log4j vulnerability in PR #213 is no longer a valid remediation.

[2022-01-28 22:07] rauldpm opened #215 "Add new log4j remediation"
Hello team,

Changes made at the PR https://github.com/wazuh/wazuh-kubernetes/pull/213 to apply the remedy to log4j vulnerabilities are not currently valid. In fact, there are new vulnerabilities that must be fixed in a more direct way, as can be upgrade to version 2.17.x

- https://logging.apache.org/log4j/2.x/

Regards, Raúl.

[2022-01-28 22:08] #215 closed

[2022-01-28 22:28] rauldpm commented on #214
Hello @abelb01

Sorry for the late response, you are right, currently this remedy is not valid, we will update the remedy as soon as possible if possible.

Regards, Raúl.

[2022-02-06 20:53] Jordy694 commented on #138
+1 for creating a helm chart :-) this will help us in different ways with CI/CD. Any plans to create an official helm chart?

[2022-02-15 11:19] VladTimo commented on #138
+1 for creating an official helm chart.

[2022-02-15 18:28] kajov commented on #138
Oh, thanks all for the praise, I have somewhat stopped maintaining the project and have went out of the loop for the helm chart and since I wrote the chart in general before Helm3 it's still on old version v2.17.x and needs refactoring and general fixes. I haven't been in chart game for some time so if you have ideas and can do anything feel free to PR the project and contribute :)

[2022-02-21 21:19] vcerenu opened #216 "Release Wazuh Indexer and Dashboard into Kubernetes deploy"
Analysis and modification of the repository to be able to deploy `wazuh-indexer` and `wazuh-dashboard` in version 4.3.0.

[2022-02-21 21:22] vcerenu commented on #216
The manifests referring to the deployment of odfe and kibana were modified to be able to replace it with wazuh-indexer and wazuh-dashboard.

The creation of an EKS cluster was executed to be able to host the deployment test of the modifications. The case with Gonzalo Acuña had to be followed up in order to correctly assign the necessary permissions for the creation of the cluster

[2022-02-23 21:11] vcerenu commented on #216
All the directories that named the products previously used in the Wazuh stack were modified by the current ones (wazuh-indexer and wazuh-dashboard), in addition, all the names of services, ports and certificates were corrected so that the deploy executes correctly. All these changes are saved in the [new-package-release](https://github.com/wazuh/wazuh-kubernetes/tree/new-packages-release) branch.

[2022-03-01 06:06] ppokrovsky opened #218 "Groups are created but not returned in API"
Hi. I'm experiencing an issue with my deployment, when agent groups are created in the API, but not returned until manager restart. Same is observed using Kibana interface.

My deployment is using persistent volume volumeMount for /var/ossec/etc directory

When performing
`curl -k -X POST 'https://localhost:55000/groups' -H "Authorization: Bearer $TOKEN" -H "Content-Type: application/json" -d '{"g

[2022-03-01 08:20] ppokrovsky commented on #218
Interestingly, yurns out for some reason persistent volume was not accounted for something with `inotify` enabled as mentioned [here](https://documentation.wazuh.com/current/user-manual/reference/internal-options.html#wazuh-database) as a requirement for real-time updates.  Therefore disabling database real-time updates and enabling scheduled updates solved an issue (with 15 seconds delay)

/var/o

[2022-03-01 08:20] #218 closed

[2022-03-01 08:31] ppokrovsky commented on #218
the root reason appears to be the fact, that persistent volume was created on qemu shared volume (virtiofs). inotify is not (yet) implemented in virtiofs. Discussion [here](https://lwn.net/Articles/874000/).

[2022-03-02 16:20] alberpilot opened #219 "Adapt the Kubernetes deployment to use the new Wazuh indexer default ports."
As mentioned in https://github.com/wazuh/wazuh-packages/issues/1285, the Wazuh indexer must use the same default ports as elasticsearch. We need to change all deployment-involved files to 9200 and 9300 as default ports.

[2022-03-03 09:09] king5718 opened #220 "Pod wazuh-elasticsearch-0 CrashLoopBackOff"
when I deploy wazuh-kubernetes on my local-cluster
I get this error:
[code]

This is output when I describe it:
[code]

[2022-03-03 12:13] alberpilot opened #221 "Adapt the Kubernetes deployment to use the new Wazuh dashboard configuration file name."
Based on https://github.com/wazuh/wazuh-packages/issues/1282, we need to change the Wazuh dashboard configuration file from dashboard.yml to opensearch_dashboards.yml.

[2022-03-03 12:39] teddytpc1 commented on #220
Hi @king5718.
It seems that the VM ran out of memory. How much RAM has the VM?
I recommend to increase the Kubernetes VM RAM (by 2GB) and check if the pod starts successfully.

[2022-03-03 12:43] king5718 commented on #220
Thanks for your reply.
My VM memory use 4096mb(4G),do I still need to increase it?

Gonzalo Acuña ***@***.***>於 2022年3月3日 週四，20:39寫道：

[2022-03-03 13:33] teddytpc1 commented on #220
Hi @king5718.
Yes, the error you are getting is an OutOfMemory. Try increasing the RAM. It should solve it.

[2022-03-03 20:32] vcerenu commented on #219
Changed port 9700 to 9200 and 9800 to 9300 in all files carrying this setting.
Deployment test was performed and it worked without errors.

[2022-03-04 04:00] king5718 commented on #220
I try to increase my vm RAM to 20G,and I can't increase it anymore.
I think it is the container limit was reached.
How do i  adjust memory requests and limit values of the pod?

[2022-03-04 12:07] teddytpc1 commented on #220
Hi @king5718.
You will have to modify the `memory` value in `elasticsearch-sts.yaml`:
[code]
And then redeploy to apply the changes.

[2022-03-07 05:20] king5718 commented on #220
Hi @teddytpc1.
After I modify the `limits` of `cpu` and `memory` value in `elasticsearch-sts.yaml`

[code]
Now, it works fine!!!
Thanks for your help!

[code]

[2022-03-07 12:25] teddytpc1 commented on #220
Glad to hear that. You are welcome. I will close this issue.
Thanks.

[2022-03-07 12:25] #220 closed

[2022-03-08 12:41] Selutario opened #222 "Remove references to agent-groups files"
Now all group assignment information is stored only in `global.db`. Agent-groups files (`/var/ossec/queue/agent-groups/`) no longer exist after changes made in:
- https://github.com/wazuh/wazuh/issues/10771

As a result, it is important to review and update all those functions and mentions to `queue/agent-groups/`. I only could find references to agent-groups in this file:
- [x] [**upgrade.md**](h

[2022-03-08 14:24] teddytpc1 commented on #221
The changes were added to PR https://github.com/wazuh/wazuh-kubernetes/pull/217

[2022-03-08 15:58] teddytpc1 commented on #216
The images names were updated to delete the `-dev` suffix.
The Indexer username and password were removed from `opensearch_dashboards.yml` file.

[2022-03-08 16:05] teddytpc1 commented on #221
The Indexer username and password were removed from opensearch_dashboards.yml file.

[2022-03-08 16:07] #221 closed

[2022-03-11 07:39] king5718 opened #224 "local environment kubernetes add agent error"
I have deployed the wazuh-manager on local environment.
But when I want to add the agent to my manager,I get this error:
[code]
this is my service of my wazuh-kubernetes
[code]
how can I get the valid password or no need password to vertify?

[2022-03-11 09:04] king5718 commented on #224
I found the password in pod wazuh-manager-master-0 `/var/ossec/etc/authd.pass`.
After I use this password .`\agent-auth.exe -m 140.122.184.183 -P password`, I can see it in the agent of kibana.
But I get shis error : The agent has been registered but has not yet connected to the manager.
The log in my agent `ossec.txt` still has the same error:
[code]

[2022-03-14 05:20] king5718 opened #225 "Add agent invalid password (from manager)"
Hi, wazuh team
I tried to add agent to my kubernetes local-envrionment.
However, my agent logs showed me this:
[code]
My agent config file snippet:
[code]
My wazuh-kubernetes svc:
[code]

I understand

- Workers need to reach the Master on port 1516.
- Agents need to reach the Master on port 1515 (authd) or 55000 (API) for registration
- Agents need to reach Workers on port 1514 to report events.

[2022-03-15 12:33] #219 closed

[2022-03-17 19:26] teddytpc1 commented on #216
Some changes were made in order to adapt the Kubernetes repository to the Docker changes.
They have been tested and everything is working fine. The changes were pushed to the `new-packages-release` branch.

[2022-03-18 18:48] teddytpc1 commented on #224
Hi @king5718.
Were are you getting the `140.122.184.183` IP from? I do not see that IP in the `kubectl get svc -n=wazuh` command output.
Take into account that you have two different services (load balancer) to connect to the managers:
- One of them is listening on port 1515 (for agent registration).
- The other one is listening on port 1514 (for agent connection).
So, the registration command sho

[2022-03-18 19:00] teddytpc1 commented on #225
Hi @king5718.
As I asked in the issue #224, I need to know where do you get the `140.122.184.183` IP from.
As you said:

So, your `ossec.conf` should be configured with por `1514`. Would you change that parameter and then restart the agent?

[2022-03-25 13:07] teddytpc1 opened #227 "Pre-Release v4.2.6 Kubernetes"
- [x] Bump PR from release branch to 4.2
  - [x] Test 4.2 branch

[2022-03-25 13:07] teddytpc1 opened #228 "Release v4.2.6 Kubernetes"
- [x] Create 4.2.6 tag
  - [x] Create draft release
  - [x] Publish draft release
  - [x] Merge 4.2 into stable
  - [x] Merge 4.2 into master
  - [x] Update version in wazuh/wazuh-documentary

[2022-03-25 16:45] teddytpc1 commented on #227
This deployment was tested in EKS. It works fine.

[2022-03-28 13:52] #227 closed

[2022-03-28 16:28] #228 closed

[2022-03-30 08:03] alberpilot opened #232 "The indexer/dashboard certs folder should have 500 permissions and certificates 400"
The permissions given to certs folder (the certificates containing folder) should change to 500, which is more restrictive. Certificates should have 400.

[2022-03-30 09:01] MiguelCasaresRobles opened #233 "StatefulSet configured resources should be ready for production deployments"
Hello team,

The limits configured for the resources for the deployment seem not to be enough for production: https://github.com/wazuh/wazuh-kubernetes/blob/master/wazuh/wazuh_managers/wazuh-worker-sts.yaml#L47

The Wazuh manager might not work as expected in the average load of a production environment.

The same applies here: https://github.com/wazuh/wazuh-kubernetes/blob/master/wazuh/elastic_st

[2022-04-03 19:13] JuanDCG opened #234 "Wazuh Microk8s Deployment"
Any instructions for that?

[2022-04-06 04:43] king5718 commented on #225
Hi, @teddytpc1  I have solved this problem.
I authd through 1515 port before connect to port 1514.
Thanks for your response.

[2022-04-06 04:43] #225 closed

[2022-04-06 04:44] king5718 commented on #224
我已經解決了這個問題。
在連接到端口 1514 之前，我通過 1515 端口進行了身份驗證
。感謝您的回复。

[2022-04-06 04:44] #224 closed

[2022-04-06 12:18] teddytpc1 commented on #224
Glad to hear that. You are welcome.

[2022-04-06 19:40] c-bordon commented on #234
Hello JuanDCG, this is our guide to deploy Wazuh in a local environment with microk8s:
https://documentation.wazuh.com/current/deploying-with-kubernetes/kubernetes-local-env.html

We are working on some improvements in the documentation of this deployment, while this is ready, you can review some comments on this issue:
https://github.com/wazuh/wazuh-kubernetes/issues/189

[2022-04-07 16:21] alberpilot opened #236 "`config.yml` must be adapted to the new format"
Based on https://github.com/wazuh/wazuh-packages/issues/1413 we need to modify the current repository use of `config.yml` file.

[2022-04-08 16:16] JuanDCG commented on #234
Thank you @c-bordon

I'm looking for a production-ready deployment.

I know that your manifests in local env works fine, but since microk8s is production-ready, I want to be sure that the deployment is also production-ready and it is not conceived for a local environment like minikube.

[2022-04-08 16:32] fcaffieri commented on #236
For K8s, the changes applied in the config and the wazuh-certs-tool have no effect because the certificates are generated directly with the OpenSSL command, and then the secrets are generated.
wazuh-kubernetes/wazuh/certs/indexer_cluster/generate_certs.sh:
[code]
and so with the rest of the certificates.

[2022-04-08 16:45] #236 closed

[2022-04-08 19:23] vcerenu commented on #232
The certificates for the Wazuh stack are created in the deploy, so they do not have permissions determined in advance. Certificates are stored within the k8s cluster as secrets

[2022-04-08 19:23] #232 closed

[2022-04-08 20:58] vcerenu commented on #234
Hello @JuanDCG

Kubernetes deployment is conceived in the same way for both EKS and local environment. It has implemented security with certificates between pods and exposes the ports by services through load balancers.

[2022-04-12 04:41] king5718 opened #237 ""wazuh/wazuh-kibana-odfe:4.2.6" not authorized"
When I try to use wazuh version 4.2.6
I get this error:
[code]
How can I solved this error?

[2022-04-20 08:26] alberpilot opened #238 "Wazuh kubernetes deployment must be valid for all environments (EKS, GKE, etc)"
The Wazuh Kubernetes repository was designed for local and EKS environments. We should identify what dependencies exist and adapt them to make the repository universal for all kinds of environments, not only for EKS.

[2022-04-21 20:16] vcerenu commented on #238
I was reviewing the creation of the managed k8s cluster in Google Cloud and it exceeded the limit of CPU and IP addresses of quota, so I sent a request to increase it.

[2022-04-26 11:13] stafwag-idirect opened #241 "Wazuh on OpenShift"
Hi,

This repository seems to be for AMAZON EKS.

Is RedHat OpenShift supported?

On OpenShift there are Security Context Constraints (SCC), which is nice for enforcing security on the OpenShift cluster.
But installation fails on OpenShift as the SYS_CHROOT capabilities are not allowed on OpenShift.

On the elasic this seem to be resolved by adding using a route on OpenShift.

https://www.elastic.

[2022-04-29 11:36] TheMatrix97 opened #242 "LogCollector daemon error on init leaving inconsistencies"
Hi!
I was facing an issue with a deployment I did with the image 'wazuh/wazuh-odfe:4.2.6', where logCollector daemon is failing on init `/var/ossec/bin/wazuh-modulesd start`.
Digging a bit on the problem, and trying to run the daemon itself on foreground `/var/ossec/bin/wazuh-logcollector -d -f` I got the following error:
[code]
Creating the folder queue/logcollector solves the issue: `mkdir /var/

[2022-05-10 08:23] TheMatrix97 commented on #242
Well actually I found out the error. It was all caused by an inconsistent installation. Just make sure to remove all the PVC's and then recreate all the pods and resources, checking that the installation is done correctly via Logs.
Sorry

[2022-05-10 08:23] #242 closed

[2022-05-11 20:35] rauldpm opened #246 "Improve kubernetes deployment and upgrade guide"
Hello team.

We need to update some documentation errors, specifically:

- https://documentation.wazuh.com/current/deployment-options/deploying-with-kubernetes/kubernetes-deployment.html
   - The username and password is admin:SecretPassword (as Docker)
   - We must add more visibility to the scripts that must be executed to generate the certificates

- https://documentation.wazuh.com/current/depl

[2022-05-12 19:26] teddytpc1 commented on #241
Hi @stafwag-idirect.
OpenShift is not supported by the current Kubernetes deployment and it is not in our roadmap at the moment.
We will analyze the possibility of including it in the future.

[2022-05-13 08:46] #210 closed

[2022-05-13 08:46] #211 closed

[2022-05-17 18:19] teddytpc1 opened #248 "Create secrets for DASHBOARD_USERNAME and DASHBOARD_PASSWORD"
Secrets for `DASHBOARD_USERNAME` and `DASHBOARD_PASSWORD` should be created in order to be used by the dashboard pod to configure the keystore.
This is due to an issue related to a password change for user `kibanaserver`. When the `kibanaserver` password is updated in the `internal_users.yml`, dashboard throws the following error because the password is hardcoded to `kibanaserver`:
`{"type":"log",

[2022-05-18 15:37] JaKourdi opened #251 "I cannot generate customized YAML from base kustomization.yml"
Issue:

- I cannot generate customized YAML with base kustomization.yml
  Path: wazuh/kustomization.yml

Pain:
This removes the ability to build a [remote base versioned with Git](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/remoteBuild.md) and handle our own overlays from a different repository.

Root cause:
Missing PEM files.

[code]

same result for
`kubectl kustomize https

[2022-05-18 19:11] JaKourdi opened #252 "Missing file - wazuh/secrets/dashboard-cred-secret.yaml"
Hi,

There's a missing file wazuh/secrets/dashboard-cred-secret.yaml
Please see README Directory structure section.

This was introduced on https://github.com/wazuh/wazuh-kubernetes/pull/249

Branch: 4.3

[2022-05-19 12:34] JaKourdi commented on #252
fixed on https://github.com/wazuh/wazuh-kubernetes/pull/254

[2022-05-19 12:34] #252 closed

[2022-05-23 13:55] #222 closed

[2022-05-25 09:05] AliceMongodin opened #260 "I can't generate certs"
Hello, i'm trying to set up wazuh, and the first step is to generate certs, but I have some issues :
here are screens of what the input is :
in the dashboard_http dir :
<img width="392" alt="image" src="https://user-images.githubusercontent.com/90464649/170224986-68567044-832c-485a-b662-858360131540.png">
 the other one (indexer_cluster works fine). Then if I try to apply this goes :
![image](http

[2022-05-26 17:16] #237 closed

[2022-06-03 19:06] ryangniadek commented on #260
I'm having the same issue on the `stable` branch as of 6/3/22 #270

[2022-06-09 09:03] echo-devnull opened #271 "Creating a storage-class for Wazuh?"
I tried running the kustomize into a test cluster, and the first error is:

[code]

So I have two questions;
The storageclass definition is indeed missing a provisioner. Which makes sense, since wazuh would not know beforehand what kind of options are available in the desired cluster. Which leads me to the second remark:

Why are we creating a storage class in the first place? Why not leave that e

[2022-06-09 09:05] markmaas commented on #271
I removed the storage class from this setup, after which it runs fine:

[code]

So really, I'm just asking why it's in there? If it's not needed I'll create a PR to remove it.

[2022-06-10 14:15] ryangniadek opened #272 "Enabling SSO / Okta auth"
Hello, I am attempting to configure SSO / Okta authentication for Wazuh running on Kubernetes.

Right now my approach is to create a custom Docker image and over write the relevant config files from the base image. I found these [instructions](https://github.com/wazuh/wazuh-documentation/issues/2981) from two years ago but unfortunately, the file structure of the config files seems to have changed

[2022-06-10 14:18] ryangniadek commented on #260
Thanks Raul - this issue is no longer in the critical path for me but for the sake of the thread: LibreSSL 2.8.3 and Darwin Kernel Version 21.4.0 (MacOS Monterey 12.3.1)

[2022-06-13 15:41] rauldpm commented on #260
Hello @ryangniadek and @AliceMongodin

Currently I have been able to reproduce this problem on a Macos Monterrey with kernel 21.2.0 and LibreSSL version 2.8.3

As a note, keep in mind that we do not have Wazuh indexer and Wazuh dashboard packages for ARM architectures yet, so you should use amd64 architecture.

Investigating I have been able to verify that adding `-subj "/C=US/L=California/O=Compa

[2022-06-13 15:50] rauldpm opened #273 "Fix wazuh dashboard certificates creation in Macos systems using LibreSSL"
In this [issue](https://github.com/wazuh/wazuh-kubernetes/issues/260) a problem has been reported in the creation of the wazuh dashboard certificates, upon investigation, it has been seen that a deployment is being carried out in Macos Monterrey using LibreSSL, which is a fork of OpenSSL.

It seems that there is some difference between these packages since in Linux systems the generation of certif

[2022-06-20 13:50] gdiazlo opened #274 "Kubernetes deployment guide"
Deploying a Kubernetes cluster is a complicated endeavor given the miriad of managed Kubernetes' services.

If our images and/or manifests does have any requirements a kubernetes deployment should comply with, we need to specify in our documents and guides.

This will help our user determine the best configuration for their kubernetes' services to be compatible with what our code here needs to wor

[2022-06-28 12:43] vcerenu commented on #271
Hello @echo-devnull

The default storage class in new k8s environments usually has a **reclaim policy** in **delete**, which means that when you have to delete a deploy or statefulset for updating, for example, this deletes the associated PVs. The storage class that is created is to prevent this, since the PVs created with this **Storage Class** have the **retain** status as a **reclaim policy**,

[2022-06-28 22:07] majordookie opened #277 "Wazuh Dashboard - Wazuh not ready yet"
I can't seem to get the Wazuh dashboard running.

The `wazuh-manager` service is running on the wazuh-manager-master pod in the stateful set.

[code]

But when I load up the dashboard, I get the following error.

[code]

Trying to hit the API I get the following error

[code]

[2022-06-30 10:48] TheMatrix97 opened #278 "ERROR: At wpopenv(): file has write permissions on EFS deployment"
Hi!
We're facing the following error with a kubernetes deployment on EKS using EFS as volumes
[code]
The error seems pretty clear, the executable virus_total has write permissions, and it doesn't seem to be allowed (¿¿¿¿why????)
So, simple, we can just remove manually all the write permissions as a test

`$ chmod 550 /var/ossec/integrations/*`

But, that doesn't work, same error, same behaviour.
W

[2022-06-30 21:29] Zaulao opened #279 "wazuh-dashboard failing to authenticate with kibanaserver user after upgrade to v4.3.5"
## Overall

After upgrading all images from v4.3.4 to v4.3.5, the dashboard is not able to authenticate within the wazuh-indexer using the custom credentials created for the `kibanaserver` user.

Logs from wazuh-dashboard pod:
```{"type":"log","@timestamp":"2022-06-30T20:23:22Z","tags":["error","opensearch","data"],"pid":43,"message":"[ResponseError]: Response Error"}```

Logs from wazuh-indexer-0

[2022-07-01 01:52] artazar commented on #279
Seems related: https://github.com/wazuh/wazuh-kubernetes/issues/248

[2022-07-01 14:44] teddytpc1 commented on #279
Hi @Zaulao.
Thanks for reporting this issue.
We have created the following [PR](https://github.com/wazuh/wazuh-docker/pull/684) to correct this behavior. The cause was that some old changes were introduced to the Dockerfile and the dashboard keystore was being created during the image build. We have also added a change in the `entrypoint.sh` to overwrite the keystore in case it is already created.

[2022-07-01 16:22] teddytpc1 commented on #279
@Zaulao the image is already pushed to Docker Hub.

[2022-07-02 11:44] #279 closed

[2022-07-06 14:37] c-bordon commented on #277
Hi, could you give me some additional information about your installation?:

- installation type? (minikube, eks, etc)

- the documentation you used to perform the deployment

- CPU, memory, and disk resources that your nodes have

[2022-07-06 14:42] majordookie commented on #277
This was actually resolved by myself. I had edited the certificate generation scripts to use different request subjects and needed to update the opensearch indexer configuration to match those new subjects - `plugins.security.nodes_dn` and `plugins.security.authcz.admin_dn`

[2022-07-06 14:42] #277 closed

[2022-07-07 18:13] andraspavelbaystream opened #280 "Error logs in new deployment related to internal certificates"
Hello,

I am building my new test environment, and I use the generate-certs.sh for the indexer cluster preparation.
The script runs successfully, and the certificates are available.
I can start up the cluster, but, in the Wazuh Indexer pod I get these logs:

`[2022-07-07T18:10:18,097][WARN ][o.o.h.AbstractHttpServerTransport] [wazuh-indexer-0] caught exception while handling client http traffic, c

[2022-07-12 07:23] gaollard commented on #73
Restarting Kibana container helps

[2022-07-12 14:16] andraspavelbaystream commented on #280
Hi @vcerenu

Do you have perhaps any manual workaround to bypass this issue for now?

Thanks,
Andras

[2022-07-12 18:54] andraspavelbaystream commented on #280
Hi @vcerenu

Thanks for your reply.

I am running our clusters in Oracle Kubernetes Engine.
The only things which were changed are only the storage class provider to use Oracle's provisioner and the secrets.
The storage disks are created and mapped as expected.

Here are the permissions: (777)
![image](https://user-images.githubusercontent.com/39588110/178570617-26fd9d38-f516-4fc1-a067-d7f83eecfb2

[2022-07-12 20:34] vcerenu commented on #280
Hello @andraspavelbaystream

Within the Wazuh dashboard deployment we use the same root-ca that is used for indexer and manager, so this may be causing problems.

Can you perform the deployment from scratch by generating the certificates with both scripts? And if you made any changes in the opensearch.yml or opensearch-dashboards.yml files I ask you to add it

[2022-07-13 05:05] andraspavelbaystream commented on #280
Hi @vcerenu

Just did a fresh deployment after re-generating all certs.
I see no changes in the logs, the only difference is that kibana uses now that self-signed certificate.
To be honest, I am not sure how it differs from using our public cert, as the Dashboard script does not generate a new certificate using the CA we create with the indexer cluster certificate generation script. (_so, the dash

[2022-07-13 10:32] vcerenu commented on #280
Hi @andraspavelbaystream

The errors that are in the attached logs are due to problems with the certificates, I do not know how Oracle Cloud is mounting the certificates in the pods but I would like to check if the certificates are where they belong according to the default configuration:

[code]

This is the result I have in my deployment on EKS

[code]

I enclose the documentation for you to ver

[2022-07-13 13:11] andraspavelbaystream commented on #280
Hi @vcerenu

Yes, I can confirm I did those steps what are in the documentation, the difference is I went with the "stable" branch.
Also, kindly note that we have a production cluster on OKE, working fine, this install is for the test environment for upgrading from 4.2 to 4.3.
We have no issue there with certificates.

The certificates are mapped correctly I think, also, cat'ed the root-cas, you c

[2022-07-13 14:36] phongvq opened #282 "Should have template for issue submit"
Hi guys,

I think this repo is so active (based on number of issues submitted).
Would it be nice if we use a template for issue submission?

Just something simple like this one?
https://github.com/stevemao/github-issue-templates/blob/master/bugs-only/ISSUE_TEMPLATE.md

[2022-07-13 17:29] phongvq opened #283 "Error when adding agent to multiple groups: "wazuh-remoted: ERROR: Cannot create multigroup directory 'var/multigroups/xxx': Permission denied""
# Expected Behavior
When adding agent to mutiple group, `/var/ossec/var/multigroups/xxx` should be created in master, worker pvc.
# Current Behavior
Facing error: Cannot create multigroup directory '/var/ossec/var/multigroups/xxx': Permission denied"
# Possible Solution
This issue can be fixed by applying ONE of these solutions:
- use init container to set proper permission, owner for `/var/ossec/

[2022-07-19 11:50] #280 closed

[2022-07-24 10:12] phongvq commented on #283
Hi @vcerenu  thank you for the information, I will close this issue.

[2022-07-24 10:12] #283 closed

[2022-07-25 12:19] #271 closed

[2022-07-25 12:56] vcerenu commented on #272
Hello @ryangniadek

The configuration you are seeing was for **Opendistro**.
Currently the stack deployed in version v4.3.6 contains **Wazuh Indexer**, which is based on **Opensearch**, so the directory you are looking for is `/usr/share/wazuh-indexer/plugins/opensearch-security/securityconfig`, you can try doing modifications to the files in that directory.

[2022-08-04 06:27] nuu9323226 opened #289 "Wazuh pod CrashLoopBackOff v4.3.6"
I use version v4.3.6
I got errors below
wazuh-master and wazuh-worker can't run
This is my event
How should I solve this problem?

[code]

[code]

[2022-08-09 22:46] eskardinha commented on #238
Hi everyone, I'm currently working on it, I was able to deploy this on GKE (Not with autopilot due to quotas) and only AKS is missing for the 3 major cloud providers. I'll keep you updated and when everything works I'll PR everything.

[2022-08-11 05:52] LubinLew commented on #289
@nuu9323226

[code]
I think you not deploy the k8s on AWS, your master/worker pods will not bound to the right `PersistentVolume`.
You should create you own [StorageClass](https://kubernetes.io/docs/concepts/storage/storage-classes/) such as [nfs-provisioner](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/tree/master/deploy).

[2022-08-16 06:16] jesse-zhangh opened #292 "I can't change the Wazuh indexer passwords"
Installed version: 4.3.6
Deployment: AWS EKS 1.21
The changing password script, named wazuh-passwords-tool.sh, should be executed on pods.
I found the script on the dir /usr/share/wazuh-indexer/plugins/opensearch-security/tools/wazuh-passwords-tool.sh of pod wazuh-indexer-0.
I execute the script with command "kubectl exec wazuh-indexer-0 -n wazuh -- /bin/bash /usr/share/wazuh-indexer/plugins/opens

[2022-08-16 06:34] jesse-zhangh commented on #292
I used "/bin/sh" to execute shell, it reports errors:
kubectl exec wazuh-indexer-0 -n wazuh /bin/sh "/usr/share/wazuh-indexer/plugins/opensearch-security/tools/wazuh-passwords-tool.sh -a"
kubectl exec [POD] [COMMAND] is DEPRECATED and will be removed in a future version. Use kubectl exec [POD] -- [COMMAND] instead.
/bin/sh: 0: Can't open /usr/share/wazuh-indexer/plugins/opensearch-security/tools/w

[2022-08-16 19:02] prathameshmalage opened #293 "Add Wazuh Agent"
I have deployed Wazuh on GKE cluster. But can anyone help or provide with any documentation on how to add Wazuh Agent.

[2022-08-17 19:03] thejaykobe commented on #292
The passwords can't be updated in the config files either for secret updates (for that matter), some other issues with passwords include:

- updating the wazuh api password with another 32 character key doesn't work
- updating the admin password breaks the wazuh-manager and wazuh-worker connections while not allowing them to connect to wazuh-dashboards with a 401 error
- updating the wazuh auth.d

[2022-08-17 19:07] thejaykobe opened #294 "Updating filebeat.yml causes 2 issues"
First issue being - when making any changes to the filebeat.yml file upon container restart the error for ownership populates causing a container loop - reference

Second issue - the variable for ssl validation doesn't do anything. When changing it from full -> certificate -> none, nothing works as it should (with the exception of full)

The environment is a fresh install of 4.3.6 for local-env

[2022-08-23 19:34] teddytpc1 commented on #274
For this, we will develop a `config.yml` to be used with `eksctl`. We will mainly define the nodegroup configuration.
Tomorrow it will be tested along with the `Wazuh` EKS deployment.

[2022-08-25 05:28] andraspavelbaystream opened #297 "Issues after upgrding from 4.2 to 4.3"
Hi,

We used to upgrade using this guide: https://github.com/wazuh/wazuh-kubernetes/blob/migration-doc/upgrade-odfe-indexer.md
After the upgrade from 4.2 to 4.3 however, looks the _security events are not saved_, and the _vulnerability detector does not work_.
We have this in the logs:
[code]
Could somebody help me where to look for, and what could be the issue? What is missing from the guide?

Th

[2022-08-25 18:39] teddytpc1 commented on #274
The k8s cluster was successfully deployed. The created resources and configurations will be validated tomorrow.

[2022-08-25 18:42] teddytpc1 commented on #274
Wazuh k8s deployment was tested with a basic `config.yml` that specifies the nodegroup configuration. It works fine.
Another YAML (cluster_existing_vpc.yml) was created and successfully tested. It is an alternative deployment in case the user needs to reuse an existing VPC.
The documentation for the deployment using these YAMLs will be added.

[2022-08-26 18:01] teddytpc1 commented on #274
The Readme for the deploy EKS Cluster section was created. It was pushed to branch `274-k8s-cluster-deployment` along with the YAML files.

[2022-09-07 14:50] andraspavelbaystream commented on #297
Hi,

I solved the issue with the vulnerability detector by deleting these two files in the pods to let the system recreate the database:
_rm /var/ossec/queue/vulnerabilities/cve.db
rm /var/ossec/queue/vulnerabilities/dictionaries/cpe_helper.json_

The other issue with not saving events was related to not enough shards.

Thanks,
Andras

[2022-09-07 14:50] #297 closed

[2022-09-07 15:00] andraspavelbaystream opened #299 "Issues after upgrade from 4.2 to 4.3"
Hello,

I did the upgrade from 4.2 to 4.3 based on the following guide: https://github.com/wazuh/wazuh-kubernetes/blob/migration-doc/upgrade-odfe-indexer.md
I have two issues remained.

**Issue 1:**
I have since the upgrade the following error repeteadly in the wazuh indexer:
[code]

Issue 2:

I have these errors in the  /usr/share/wazuh-dashboard/data/wazuh/logs/wazuhapp.log log file repeteadly:

[2022-09-07 19:59] teddytpc1 commented on #274
The README was improved after the PR reviews.

[2022-09-09 12:55] #260 closed

[2022-09-12 14:33] vcerenu commented on #299
Hello @andraspavelbaystream

Do you have the data of the PVCs that you created before starting the migration and the current data of the new PVCs that you created with the previous volume?

Due to the errors that are being logged, it seems that the owner of the service does not have permissions on the previous indexes, so I ask you if you can enter the pod and verify the permissions of the index f

[2022-09-12 19:51] vcerenu commented on #294
Hello @thejaykobe

Can you attach the new filebeat.yml that you are using?

I also need logs generated by the Wazuh manager container that is restarted, to be able to check the errors.

[2022-09-13 12:12] teddytpc1 commented on #292
The procedure to change the password is:

1- Obtain hash password in the indexer pod:
  - outside pod:
[code]
  - inside pod:
[code]

2-  Insert the new password and create a new hash. Replace admin value with new hash into `wazuh/indexer_stack/wazuh-indexer/indexer_conf/internal_users.yml` file.
3- Change value of `password` parameter in the `wazuh/secrets/indexer-cred-secret.yaml` file. You need

[2022-09-13 19:07] vcerenu commented on #299
Hello @andraspavelbaystream

About the error message:

[code]

You should check the permissions of the role assigned to the user you use to connect to the Wazuh API (the default user is wazuh_wui) on the index wazuh-statistics-2022.36w.
In case you do not have permissions on the index, you should add it.

Regarding the other error, I'm still analyzing.

[2022-09-14 14:32] andraspavelbaystream commented on #299
Hi @vcerenu

Thank you!

I was looking the permissions, spin up a new test environment via version 4.3.7, and checked the indexer permissions.
The wazuh_ui_admin and the wazuh_ui_user roles were missing. (see below the entries)
I created them using the same config as the test environment, and that did the trick, now the necessary indices are created successfully. I guess this should be added to th

[2022-09-21 11:36] pagey101 opened #302 "Duplicate name, rejecting enrollment"
Hello

I have this deployed on a k3s cluster, however I'm getting an issue whereby the agents register, and stay connected for a while (couple of hours), all the agents then disconnect and try to re-register, at which point the wazuh-manager pod reports 'Duplicate name, rejecting enrolment'.

The error makes sense, as the agents are already enrolled. What does not make sense is why the agents are

[2022-09-21 15:27] pagey101 commented on #302
Using the eks customise environment seems to work better, I think the only difference is that it's running more indexers. Maybe the indexer was getting overloaded.

Anyway, I seem to have it working by:

- Switching to the stable branch
- Using EKS customise environment
- Scaling wazuh worker pods to 4

[2022-09-21 15:31] #302 closed

[2022-10-17 05:13] andraspavelbaystream opened #306 "Indexer pods get OOMKilled when Java options set higher than 4GB."
Hello,

We would like to increase the memory of the indexer pods.
The kubernetes cluster contains 3 nodes, each has 48GB Ram.
I can increase the resources limit and requests, but as soon as I go above 4GB in the OPENSEARCH_JAVA_OPTS, the pods instantly get OOMKilled.
We have 16 GB RAM allocated for the indexer pods:
[code]
When I increase the ..
[code]
to anything higher than 4GB, like "Xms5g -Xmx

[2022-10-17 07:36] andraspavelbaystream commented on #299
Hi @vcerenu

Do you have any news on the .opendistro-ism-config issue?

Thank you!
Andras

[2022-10-18 03:27] sebastiandbustos opened #307 "How to set a configmap for a custom wazuh.yml config file for Kibana"
Hello team,
We are trying to set custom passwords in GKE deployment and besides setting the passwords on the recipe we need to configure extra files with the same passwords, like the `/usr/share/kibana/data/wazuh/config/wazuh.yml`, we tried to set this with a configmap but the filesystem is showing as read only.

kustomization.yaml
[code]

kibana-deploy.yaml
[code]

The file can't be read and anot

[2022-10-19 18:24] andraspavelbaystream commented on #306
Hi Carlos,

Thanks for your reply.
I was cleaning up the YAML files to share it with you... then I realized that there is a limit on the StatefulSet-level, which was only 5GB. I think that limited the member pods, and when it actively started to use higher memory, it simply just killed it.
So, after increasing it to a higher number, my OOMKill error is gone!

Thank you so much! :)

Andras

[2022-10-19 18:24] #306 closed

[2022-10-20 20:03] vcerenu commented on #307
The mounted files of a `configmap` are `readonly`, so they cannot be modified, for the file to be modifiable it has to be mounted from a local file, in that case it maintains persistence.

If the necessary change is to modify the password of the Wazuh API user added in the `wazuh.yml` file, you should modify the environment variable `API_PASSWORD`.

In the case of deploying the wazuh-kubernetes re

[2022-10-24 14:02] alberpilot commented on #307
Status blocked: @sebastiandbustos was required for feedback.

[2022-10-31 20:06] r-aju opened #308 "Wazuh Agent's never connected."
Hello,
I've deployed wazuh server on my AWS EKS Cluster by following the official document of Wazuh.

And while configuring the agents on the linux host, none of the agent are up, it was `agents never connected` .
There are many services which has been created also wanted to know which component'a IP should be configured in the agent side, the `wazuh`, `wazuh-workers` or the `wazuh-cluster`.

<img

[2022-11-07 12:26] r-aju opened #309 "Query regarding wash Kubernetes manifests."
Heyy,

I'm currently following the official [wazuh-kubernetes](https://github.com/wazuh/wazuh-kubernetes) guide and deploying server via Kubernetes manifests.

While deploying the [wazuh_manager](https://github.com/wazuh/wazuh-kubernetes/tree/master/wazuh/wazuh_managers) stack found out that one of the port 1514 is not added for the agents to communicate with the server in [loadbalancer](https://g

[2022-11-07 12:39] r-aju commented on #309
Tagging @vcerenu, @alberpilot and @xr09 since, you guy's contributed to this previously !!

[2022-11-07 14:37] r-aju commented on #309
@vcerenu , Yes this is enabled on Wazuh manager worker LoadBalancer. But, can this also be enabled on Wazuh Manager Master's LB as well.

It got working in my case when I added it in manager's LB.

[2022-11-07 15:12] vcerenu commented on #309
Yes, that configuration works but it is not the recommended one. The registration of new agents (port 1515) and the communication with the API (port 55000) is carried out with the `master` node only, but the sending of data from the agent to the manager (port 1514) can be carried out towards any node, for which the availability of the `master` node is maintained with the tasks that only he can per

[2022-11-07 15:25] r-aju commented on #309
Got it, Thanks for the clear explanation about the various sub components.

[2022-11-09 12:23] c-bordon commented on #308
Hello r-aju, you may have a connectivity problem or a configuration error.

In step 2 of this documentation it is indicated that IP must be configured in the agents:
https://documentation.wazuh.com/current/deployment-options/deploying-with-kubernetes/kubernetes-deployment.html#agents

If you followed this same documentation to deploy the Wazuh cluster, the IP you have to configure on the agents wo

[2022-11-14 15:32] vcerenu opened #311 "Pre-Release v4.3.10 Kubernetes"
- [x] Bump PR from release branch to 4.3
  - [x] Test 4.3 branch

[2022-11-14 15:33] vcerenu opened #312 "Release v4.3.10 Kubernetes"
- [x] Create 4.3.10 tag
  - [x] Create draft release
  - [x] Publish draft release
  - [x] Merge 4.3 into stable
  - [x] Merge 4.3 into master
  - [x] Update version in wazuh/wazuh-documentary

[2022-11-14 16:22] vcerenu commented on #311
Create new EKS cluster and deploy with `4.3.10-rc1` tag for testing.

[2022-11-15 14:32] #307 closed

[2022-11-28 18:51] vcerenu opened #313 "Fix ES_JAVA_OPTS environment variable"
The` Wazuh indexer` deployment manifests in `Kuberentes` contain the use of the `ES_JAVA_OPTS` environment variable, which was used by ODFE, which needs to be updated by the `OPENSEARCH_JAVA_OPTS` environment variable in order for` Wazuh indexer` to be able to use the added parameters.